<div *ngIf="ShowLoader">
    <div class="backdrop-loader">
        <div class="spinner">
            <p id="loader_msg">Please wait... We are processing your request</p>
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
<div *ngIf="!ShowLoader">
    <div class="container pb-3">
        <!-- Carousel -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let banners of wealthbannerList; let i= index"
                    [ngClass]="i==0?'active':''">
                    <div class="row align-items-center">
                        <!-- <div class="col-12 hidden-lg hidden-sm">
                <h4 class="slider-head">Plan your <span>Investment</span> to reach your <span>Goals.</span></h4>
              </div> -->
                        <div class="col-12 hidden-lg hidden-sm order-2 order-lg-1">

                            <h4 class="slider-head" [innerHTML]="banners?.heading"></h4>
                        </div>
                        <!-- <div class="col-lg-8 col-7">
                <h4 class="slider-head hidden-xs" [innerHTML]="banners?.heading"></h4>
                <p class="slider-txt" [innerHTML]="banners?.description"></p>
                <button class="nav-link btn btn-primary theme-button">Know More</button>
              </div> -->
                        <div class="col-lg-8 col-12 order-2 order-lg-1">
                            <h4 class="slider-head hidden-xs" [innerHTML]="banners?.heading"></h4>
                            <p class="slider-txt" [innerHTML]="banners?.description"></p>
                            <!-- <button class="nav-link btn btn-primary theme-button">Know More</button> -->

                            <!-- <div class="col-lg-4 col-5">
                <img src="{{banners?.banner}}" alt="slider1" class="w-100 wd90">
              </div> -->


                            <button id="partner" *ngIf="banners.sortOrder === 1"
                                class="nav-link btn btn-primary theme-button" [innerHTML]="banners?.button"
                                data-toggle="modal" data-target="#bannerpartnerModal" (click)="partnerWealth(banners)">
                                <span class="elementor-button-icon elementor-align-icon-right">
                                    <img src="assets/img/icons8-forward-button-20.png" class="" alt="rightarrow">
                                </span>
                            </button>

                            <button id="customer" *ngIf="banners.sortOrder === 2"
                                class="nav-link btn btn-primary theme-button" [innerHTML]="banners?.button"
                                data-toggle="modal" data-target="#bannercustomerModal"
                                (click)="customerWealth(banners)">
                                <span class="elementor-button-icon elementor-align-icon-right">
                                    <img src="assets/img/icons8-forward-button-20.png" class="" alt="rightarrow">
                                </span>
                            </button>
                            <button id="customer" *ngIf="banners.sortOrder === 3"
                                class="nav-link btn btn-primary theme-button" [innerHTML]="banners?.button"
                                data-toggle="modal" data-target="#bannercustomerModal">
                                <span class="elementor-button-icon elementor-align-icon-right">
                                    <img src="assets/img/icons8-forward-button-20.png" class="" alt="rightarrow">
                                </span>
                            </button>

                        </div>
                        <div class="col-lg-4 col-12 order-1 order-lg-2">
                            <img src="{{banners.banner}}" alt="slider1" class="w-100 wd90">
                        </div>
                    </div>
                </div>


                <!-- <div class="carousel-item">
                  <div class="row align-items-center">
                      <div class="col-12 hidden-lg hidden-sm">
                          <h4 class="slider-head">Plan your <span>Investment</span> to reach your <span>Goals.</span></h4>
                      </div>
                      <div class="col-lg-8 col-7">
              <h4 class="slider-head hidden-xs">Plan your <span>Investment</span> to <br class="hidden-xs" /> reach your <span>Goals.</span></h4>
                          <p class="slider-txt">Create your financials goal, monitor and watch it grow.</p>
                          <button class="nav-link btn btn-primary theme-button">Know More</button>
                      </div>
                      <div class="col-lg-4 col-5">
                          <img src="assets/img/wealth_banner_illustration.svg" alt="slider1" class="w-100 wd90">
                      </div>
                  </div>
              </div> -->
                <!-- <div class="carousel-item">
                  <div class="row align-items-center">
                      <div class="col-12 hidden-lg hidden-sm">
                          <h4 class="slider-head">Plan your <span>Investment</span> to reach your <span>Goals.</span></h4>
                      </div>
                      <div class="col-lg-8 col-7">
              <h4 class="slider-head hidden-xs">Plan your <span>Investment</span> to <br class="hidden-xs" /> reach your <span>Goals.</span></h4>
                          <p class="slider-txt">Create your financials goal, monitor and watch it grow.</p>
                          <button class="nav-link btn btn-primary theme-button">Know More</button>
                      </div>
                      <div class="col-lg-4 col-5">
                          <img src="assets/img/wealth_banner_illustration.svg" alt="slider1" class="w-100 wd90">
                      </div>
                  </div>
              </div> -->
                <!-- </div> -->

                <!-- Left and right controls/icons -->
                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button> -->
            </div>
        </div>

        <!-- Desktop -->
        <div class="container pt-70 mb-3  common-pt-50 more-product money-invest loan-opt">
            <div class="row align-items-center justify-content-center">
                <div class="col" *ngFor="let product of productwealthdata" (click)="GotoRecommendedOffers(product)">
                    <div class="money-mng">
                        <img src="{{product?.logo}}" alt="l1">
                        <p>{{product?.name}}</p>
                    </div>
                </div>
                <!-- <div class="col">
              <div class="money-mng">
                  <img src="assets/img/fixed_deposits.svg" alt="l1">
                  <p>Fixed Deposits</p>
              </div>
          </div> -->
                <!-- <div class="col">
              <div class="money-mng">
                  <img src="assets/img/digital_gold.svg" alt="l1">
                  <p>Digital Gold</p>
              </div>
          </div> -->
                <!-- <div class="col">
              <div class="money-mng">
                  <img src="assets/img/bonds.svg" alt="l1">
                  <p>Bond</p>
              </div>
          </div> -->
                <!-- <div class="col">
              <div class="money-mng ">
                  <img src="assets/img/portfolio_management_services.svg" alt="l1">
                  <p>Portfolio Management Services</p>
              </div>
          </div> -->
                <!-- <div class="col hidden-lg">
              <div class="money-mng">
                  <img src="assets/img/alternate_investing_funds.svg" alt="l1">
                  <p>Alternate Investing Funds</p>
              </div>
          </div> -->
            </div>
        </div>
        <!-- <div class="container pt-1 hidden-xs common-pt-50 money-invest loan-opt">
    <div class="row align-items-center justify-content-center flow-row">
          <div class="money-mng hidden-xs mob-inv">
              <img src="assets/img/alternate_investing_funds.svg" alt="l1">
              <p>Alternate Investing <br/>Funds</p>
          </div>
    </div>
  </div> -->
        <!-- Desktop -->

        <div class="container pt-70 ptsm-1">
            <!-- Desktop View -->
            <div class="d-none d-sm-block">
                <div class="row align-items-center protect">
                    <div class="col-lg-8 col-6 col-sm-8">
                        <h4 class="title-head1 mb-0">Goal Planner</h4>
                        <div class="br-btm"></div>
                        <p>How far are you from your life goals? <br />Lorem ipsum dolor sit amet,</p>
                        <button class="nav-link btn btn-primary theme-button">Calculate</button>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-4">
                        <img src="assets/img/man-up.svg" class="w-100">
                    </div>
                </div>
            </div>
            <!-- Mobile View -->
            <div class="d-block d-md-none">
                <div class="row align-items-center protect">
                    <div class="col-12 text-center">
                        <img src="assets/img/man-up.svg" class="w-100">
                        <h4 class="title-head1 mb-0 mt-5">Goal Planner</h4>
                        <div class="br-btm"></div>
                        <p>How far are you from your life goals? <br />Lorem ipsum dolor sit amet,</p>
                        <button class="nav-link btn btn-primary theme-button">Calculate</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container mt-5 pt-50 finance owl-1">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <h4 class="title-head1 mb-4">Trending Products</h4>
        </div>
      </div>
      <div class="financial-slider trendprod ">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="trending-product">
              <div class="row align-items-center">
                <div class="col-lg-3 col-3">
                  <img src="assets/img/quant.png">
                </div>
                <div class="col-lg-9 col-9">
                  <p class="trend-name trend-head">Quant Small Cap Fund Growth Option Direct Plan</p>
                </div>
              </div>
              <div class="price-tag">
                <div class="row align-items-center ">
                  <div class="col-lg-6 col-6">
                    <p class="trend-name">AUM <br /> ₹675 Cr</p>
                  </div>
                  <div class="col-lg-6 col-6">
                    <p class="trend-name text-end">1Y Return <br /> 132.5%</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="trending-product">
              <div class="row align-items-center">
                <div class="col-lg-3 col-3">
                  <img src="assets/img/ICICI_Prudential.png">
                </div>
                <div class="col-lg-9 col-9">
                  <p class="trend-name trend-head">ICICI Prudential Commodities Fund Direct Growth</p>
                </div>
              </div>
              <div class="price-tag">
                <div class="row align-items-center ">
                  <div class="col-lg-6 col-6">
                    <p class="trend-name">Starting From</p>
                  </div>
                  <div class="col-lg-6 col-6">
                    <p class="trend-name text-end">Rs. 2358</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="trending-product">
              <div class="row align-items-center">
                <div class="col-lg-3 col-3">
                  <img src="assets/img/abc.png">
                </div>
                <div class="col-lg-9 col-9">
                  <p class="trend-name trend-head">Aditya Birla Sun Life Digital India Fund Direct Plan Growth</p>
                </div>
              </div>
              <div class="price-tag">
                <div class="row align-items-center ">
                  <div class="col-lg-6 col-6">
                    <p class="trend-name">AUM <br /> ₹675 Cr</p>
                  </div>
                  <div class="col-lg-6 col-6">
                    <p class="trend-name text-end">1Y Return <br /> 132.5%</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="trending-product">
              <div class="row align-items-center">
                <div class="col-lg-3 col-3">
                  <img src="assets/img/quant.png">
                </div>
                <div class="col-lg-9 col-9">
                  <p class="trend-name trend-head">Quant Small Cap Fund Growth Option Direct Plan</p>
                </div>
              </div>
              <div class="price-tag">
                <div class="row align-items-center ">
                  <div class="col-lg-6 col-6">
                    <p class="trend-name">AUM <br /> ₹675 Cr</p>
                  </div>
                  <div class="col-lg-6 col-6">
                    <p class="trend-name text-end">1Y Return <br /> 132.5%</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="trending-product">
              <div class="row align-items-center">
                <div class="col-lg-3 col-3">
                  <img src="assets/img/ICICI_Prudential.png">
                </div>
                <div class="col-lg-9 col-9">
                  <p class="trend-name trend-head">ICICI Prudential Commodities Fund Direct Growth</p>
                </div>
              </div>
              <div class="price-tag">
                <div class="row align-items-center ">
                  <div class="col-lg-6 col-6">
                    <p class="trend-name">Starting From</p>
                  </div>
                  <div class="col-lg-6 col-6">
                    <p class="trend-name text-end">Rs. 2358</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="trending-product">
              <div class="row align-items-center">
                <div class="col-lg-3 col-3">
                  <img src="assets/img/abc.png">
                </div>
                <div class="col-lg-9 col-9">
                  <p class="trend-name trend-head">Aditya Birla Sun Life Digital India Fund Direct Plan Growth</p>
                </div>
              </div>
              <div class="price-tag">
                <div class="row align-items-center ">
                  <div class="col-lg-6 col-6">
                    <p class="trend-name">AUM <br /> ₹675 Cr</p>
                  </div>
                  <div class="col-lg-6 col-6">
                    <p class="trend-name text-end">1Y Return <br /> 132.5%</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
  
  
    </div> -->

        <!-- middle content -->

        <div class="container pt-70">

            <div class="row align-items-center about d-none d-sm-flex">
                <div class="col-lg-8 col-8 col-sm-8">
                    <h4 class="title-head2 mb-4">Regular Investing with SIP</h4>
                    <p class="font18">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy<br
                            class="hidden-xs" />
                        eirmod tempor invidunt ut labore et dolore at vero eos et.</p>
                </div>
                <div class="col-lg-4 col-sm-4 col-4">
                    <img src="assets/img/monthly_sip.svg" class="w-100" alt="insure">
                </div>
            </div>

            <!-- mobile -->
            <div class="row align-items-center justify-content-center about d-sm-none">
                <div class="col-lg-4 col-12 col-sm-12 text-center">
                    <img src="assets/img/monthly_sip.svg" class="w-100" alt="insure">
                </div>
                <div class="col-lg-8 col-12 col-sm-12 text-center">
                    <h4 class="title-head2 mb-4 mt-5">Regular Investing with SIP</h4>
                    <p class="elementor-icon-list-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam
                        nonumy<br class="hidden-xs" />
                        eirmod tempor invidunt ut labore et dolore at vero eos et.</p>
                </div>

            </div>


            <!-- Desktop -->
            <div class="row align-items-center about d-none d-sm-flex">
                <div class="col-lg-4 col-4 col-sm-4">
                    <img src="assets/img/save_tax.svg" class="w-100" alt="insure">
                </div>
                <div class="col-lg-8 col-sm-8 col-8 text-end">
                    <h4 class="title-head2 mb-4">Invest in Tax Saving Mutual Funds</h4>
                    <p class="font18">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy<br
                            class="hidden-xs" />
                        eirmod tempor invidunt ut labore et dolore at vero eos et.</p>
                </div>
            </div>

            <!-- mobile -->
            <div class="row align-items-center justify-content-center about d-sm-none">
                <div class="col-lg-4 col-12 col-sm-12 text-center">
                    <img src="assets/img/save_tax.svg" class="w-100" alt="insure">
                </div>
                <div class="col-lg-8 col-12 col-sm-12 text-center">
                    <h4 class="title-head2 mb-4 mt-3">Invest in Tax Saving Mutual Funds</h4>
                    <p class="elementor-icon-list-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam
                        nonumy<br class="hidden-xs" />
                        eirmod tempor invidunt ut labore et dolore at vero eos et.</p>
                </div>
            </div>


            <!-- Desktop -->
            <div class="row align-items-center about d-none d-sm-flex">
                <div class="col-lg-8 col-8 col-sm-8">
                    <h4 class="title-head2 mb-4">Handpicked Corporate Deposits just for You</h4>
                    <p class="font18">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy<br
                            class="hidden-xs" />
                        eirmod tempor invidunt ut labore et dolore at vero eos et.</p>
                </div>
                <div class="col-lg-4 col-sm-4 col-4">
                    <img src="assets/img/save_deposit.svg" class="w-100" alt="insure">
                </div>
            </div>

            <!-- mobile -->
            <div class="row align-items-center justify-content-center about d-sm-none">

                <div class="col-lg-4 col-12 col-sm-12 text-center">
                    <img src="assets/img/save_deposit.svg" class="w-100" alt="insure">
                </div>
                <div class="col-lg-4 col-12 col-sm-12 text-center">
                    <h4 class="title-head2 mb-4 mt-5">Handpicked Corporate Deposits just for You</h4>
                    <p class="elementor-icon-list-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam
                        nonumy<br class="hidden-xs" />
                        eirmod tempor invidunt ut labore et dolore at vero eos et.</p>
                </div>

            </div>


            <!-- Desktop -->
            <div class="row align-items-center about d-none d-sm-flex">
                <div class="col-lg-4 col-4 col-sm-4">
                    <img src="assets/img/top_comp.svg" class="w-100" alt="insure">
                </div>
                <div class="col-lg-8 col-sm-8 col-8 text-end">
                    <h4 class="title-head2 mb-4">Own Top Companies</h4>
                    <p class="font18">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy<br
                            class="hidden-xs" />
                        eirmod tempor invidunt ut labore et dolore at vero eos et.</p>
                </div>
            </div>
            <!-- mobile -->
            <div class="row align-items-center justify-content-center about d-sm-none">
                <div class="col-lg-4 col-12 col-sm-12 text-center">
                    <img src="assets/img/top_comp.svg" class="w-100" alt="insure">
                </div>
                <div class="col-lg-8 col-12 col-sm-12 text-center">
                    <h4 class="title-head2 mb-4 mt-5">Own Top Companies</h4>
                    <p class="elementor-icon-list-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam
                        nonumy<br class="hidden-xs" />
                        eirmod tempor invidunt ut labore et dolore at vero eos et.</p>
                </div>
            </div>
        </div>


        <!-- Desktop -->
        <div class="row align-items-center about d-none d-sm-flex">
            <div class="col-lg-8 col-8 col-sm-8">
                <h4 class="title-head2 mb-4">Optimize Returns on Short Term Surplus</h4>
                <p class="font18">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy<br
                        class="hidden-xs" />
                    eirmod tempor invidunt ut labore et dolore at vero eos et.</p>
            </div>
            <div class="col-lg-4 col-sm-4 col-4">
                <img src="assets/img/park_surplus.svg" class="w-100" alt="insure">
            </div>
        </div>

        <!-- mobile -->
        <div class="row align-items-center justify-content-center about d-sm-none">

            <div class="col-lg-4 col-12 col-sm-12 text-center">
                <img src="assets/img/park_surplus.svg" class="w-100" alt="insure">
            </div>
            <div class="col-lg-4 col-12 col-sm-12 text-center">
                <h4 class="title-head2 mb-4 mt-5">Optimize Returns on Short Term Surplus</h4>
                <p class="elementor-icon-list-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    nonumy<br class="hidden-xs" />
                    eirmod tempor invidunt ut labore et dolore at vero eos et.</p>
            </div>

        </div>

    </div>

    <div class="container pt-70 phydigitalsection">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <img src="assets/img/Partnership-bro.svg" class="phydigitalimg" alt="about">
            </div>

            <div class="col-lg-8 col-sm-6">
                <div class="widget-container">

                    <p class="phydigitalheading">“Launching India’s first<br> <span>phydigital finance
                            experience!”</span></p>
                </div>


                <!-- parent div of 1st,2nd,3rd -->
                <div class="phydigitalparentdiv">
                    <!-- 1st -->
                    <div
                        class="elementor-element elementor-element-7b422ed animated-slow elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list animated fadeIn">
                        <div class="firstpoint">
                            <link rel="stylesheet"
                                href="https://finizon.com/wp-content/plugins/elementor/assets/css/widget-icon-list.min.css">
                            <ul class="elementor-icon-list-items" style="list-style: none;">
                                <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">

                                        <img src="assets/img/right-arrow.png" class="right_arrow_img" alt="rightarrow">

                                    </span>
                                    <span class="elementor-icon-list-text">Make decisions closely with the
                                        experts</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- 2nd -->
                    <div
                        class="elementor-element elementor-element-9354ecf animated-slow elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list animated fadeIn">
                        <div class="elementor-widget-container firstpoint">
                            <ul class="elementor-icon-list-items" style="list-style: none;">
                                <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">

                                        <img src="assets/img/right-arrow.png" class="right_arrow_img" alt="rightarrow">

                                    </span>
                                    <span class="elementor-icon-list-text">Find the right financial products and
                                        tools for you</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- 3rd -->
                    <div
                        class="elementor-element elementor-element-7df21f2 animated-slow elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list animated fadeIn">
                        <div class="elementor-widget-container firstpoint">
                            <ul class="elementor-icon-list-items" style="list-style: none;">
                                <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">

                                        <img src="assets/img/right-arrow.png" class="right_arrow_img" alt="rightarrow">

                                    </span>
                                    <span class="elementor-icon-list-text">Never miss out on the best available
                                        offers</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>



                <!-- partner button -->

                <div class="col-lg-3 col-12 col-sm-3">
                    <a style="text-decoration: none;" target="_blank" href="https://wealth.finizon.com/advisor-login">
                        <button class="nav-link btn btn-primary theme-button partnerbtn">PARTNER</button>
                    </a>
                    <!-- <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfNgk3MZJANGVd_PwwcUf7PFlsza2GOG-lVp3PYmBcvZyFtAw/viewform">
              <button class="nav-link btn btn-primary theme-button partnerbtn">PARTNER</button>
            </a> -->
                </div>


                <!-- ******ORG******* -->
                <!-- <div class="col-lg-3 col-12 col-sm-3">
            <button class="nav-link btn btn-primary theme-button partnerbtn" data-toggle="modal"
              data-target="#partnerModal" (click)="showPartnerModal()">PARTNER</button>
          </div> -->
                <!-- ******ORG******* -->


            </div>

        </div>

        <!-- modal part latest for phydigital section-->
        <!-- <div class="modal fade" id="partnerModal" tabindex="-1" role="dialog" aria-labelledby="partnerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="closeicon">
              <button type="button" class="close" (click)="hidePartnerModal()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
  
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-4 col-sm-6">
                  <img src="assets/img/phydigital_partner_img.svg" class="phydigital_partner_img" alt="about">
                </div>
  
                <div class="col-lg-8 col-sm-6">
                  <button class="nav-link btn btn-primary theme-button modalpartnerbtn">INSURANCE</button>
                  <button class="nav-link btn btn-primary theme-button modalpartnerbtn">INVESTMENT</button>
  
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
  
      </div> -->


    </div>


    <!-- <div class="container pt-70 money-invest">
      <div class="row align-items-center">
  
        <div class="col-md-3 col-6">
          <div class="money-mng">
            <img src="assets/img/tax_opt.svg" alt="l1">
            <p>Tax Optimization</p>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="money-mng">
            <img src="assets/img/SIP_calc.svg" alt="l1">
            <p>SIP Calculator</p>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="money-mng">
            <img src="assets/img/loan_opt.svg" alt="l1">
            <p>Loan Optimization</p>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="money-mng">
            <img src="assets/img/EMI_calc.svg" alt="l1">
            <p>EMI Calculator</p>
          </div>
        </div>
  
      </div>
    </div> -->
    <!-- <div class="container pt-70 become-partner">
      <div class="row align-items-center">
        <div class="col-lg-12 pos-rel">
          <img src="assets/img/become_partner_bg.png" class="w-100 hidden-xs ">
          <img src="assets/img/become_partner_mob.png" class="w-100 hidden-lg hidden-sm">
          <div class="partner-txt">
            <div>
              <h3>Become a Partner</h3>
            </div>
            <div>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore.
              </p>
            </div>
            <div>
              <button class="nav-link btn btn-primary theme-button">Know More</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="container pt-70">
        <!-- Carousel -->
        <div id="testimonial" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#testimonial" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#testimonial" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#testimonial" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner pos-rel pt-50 pb-50">
                <img src="assets/img/upquote.png" class="upquote">
                <div class="carousel-item " *ngFor=" let testimonial of tesimonialwealthdata; let i=index"
                    [ngClass]="i==0?'active':''">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <img src="{{testimonial?.profilePhoto}}" class="user-img">
                            <h4>{{testimonial?.firstName}} {{testimonial?.lastName}}</h4>
                            <!-- <p>{{testimonial?.profileReview}}</p> -->


                            <div *ngIf="shouldShowReadMore(testimonial)">
                              <p class="testimonialtext" [innerHTML]="getReviewContent(testimonial)"></p>
                              <a href="javascript:void(0)" (click)="toggleExpanded(testimonial)">
                                {{ testimonial.expanded ? 'Read Less' : 'Read More' }}
                              </a>
                            </div>
                            <div *ngIf="!shouldShowReadMore(testimonial)">
                              <p class="testimonialtext">{{ testimonial?.profileReview }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-lg-12 text-center">
              <img src="assets/img/test-user.png" class="user-img">
              <h4>Brandon Foster</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            </div>
          </div>
        </div> -->
                <!-- <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-lg-12 text-center">
              <img src="assets/img/test-user.png" class="user-img">
              <h4>Brandon Foster</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
            </div>
          </div>
        </div> -->
                <img src="assets/img/downquote.png" class="downquote">
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#testimonial" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#testimonial" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
    <div class="container pt-70 client-img">
        <div class="row align-items-center">
            <div class="col">
                <img src="assets/img/aditya-birla-capital-logo.png" class="c1">
            </div>
            <div class="col">
                <img src="assets/img/icici_pru_logo.png" class="c2">
            </div>
            <div class="col">
                <img src="assets/img/digit_logo.png" class="c3">
            </div>
            <!-- <div class="col">
          <img src="assets/img/Care_health_insurance_logo@2x.png" class="c4">
            </div> -->
            <div class="col">
                <img src="assets/img/bajaj_logo.png" class="c5">
            </div>
            <div class="col">
                <img src="assets/img/sbi_general_logo.png" class="c2">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-1">
            </div>
            <!-- <div class="col col-6 hidden-lg">
              <img src="assets/img/bajaj_logo.png" class="c5">
            </div> -->
            <!-- <div class="col">
            <img src="assets/img/sbi_general_logo.png" class="c2">
            </div> -->
            <div class="col">
                <img src="assets/img/shriram_capital_logo.png" class="c3">
            </div>
            <!-- <div class="col">
            <img src="assets/img/edelweiss_life_logo.png" class="c4">
            </div> -->
            <div class="col">
                <img src="assets/img/universal_logo.png" class="c4">
            </div>
            <div class="col">
                <img src="assets/img/hdfc_ergo.png" class="c2">
            </div>
            <div class="col">
                <img src="assets/img/religare_logo.png" class="c5">
            </div>
            <!-- <div class="col col-6 hidden-lg">
              <img src="assets/img/max_life.png" class="c1">
            </div> -->
            <div class="col-1">
            </div>
        </div>
        <div class="row align-items-center">
            <!-- <div class="col">
          <img src="assets/img/max_life.png" class="c1">
        </div> -->
            <!-- <div class="col">
          <img src="assets/img/hdfc_ergo.png" class="c2">
        </div> -->
            <!-- <div class="col">
          <img src="assets/img/icici_lombard_logo.png" class="c3">
        </div> -->
            <!-- <div class="col">
          <img src="assets/img/tata_aia_logo.png" class="c4">
        </div> -->
            <!-- <div class="col">
          <img src="assets/img/religare_logo.png" class="c5">
        </div> -->
        </div>
        <div class="row align-items-center">
            <div class="col text-center">
                <h5 class="mt-3"><a href="javascript:void(0)" class="view-all"> View All</a></h5>
            </div>
        </div>
    </div>
    <div class="container mt-5 pt-50 finance owl-1">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h4 class="title-head1 mb-4">Here is all you should know about wealth management</h4>
            </div>
        </div>
        <div class="financial-slider fin">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let blog of BlogList">
                    <!-- <div class="finance-news">
              <img src="{{blog.blogimage}}">
              <p>{{blog.title}}</p>
            </div> -->
                    <div class="finance-news" (click)="GetBlogList()">
                        <a target="_blank" rel="noopener noreferrer" href="{{blog.url}}"><img src="{{blog.blogimage}}"
                                alt="blog1"></a>
                        <p>{{blog.title}}</p>
                    </div>
                </ng-template>
                <!-- <ng-template carouselSlide>
          <div class="finance-news">
            <img src="assets/img/blog_thumnail_1.png">
            <p>Choose right life insurance plan in 7 easy steps</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="finance-news">
            <img src="assets/img/blog_thumnail_1.png">
            <p>What is the right amount of life insurance cover for me?</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="finance-news">
            <img src="assets/img/blog_thumnail_2.png">
            <p>Don’t leave anything to chance protect with insurance</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="finance-news">
            <img src="assets/img/blog_thumnail_1.png">
            <p>What is the right amount of life insurance cover for me?</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="finance-news">
            <img src="assets/img/blog_thumnail_2.png">
            <p>How to Check Life Insurance Policy Status?</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="finance-news">
            <img src="assets/img/blog_thumnail_1.png">
            <p>Choose right life insurance plan in 7 easy steps</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="finance-news">
            <img src="assets/img/blog_thumnail_2.png">
            <p>Choose right life insurance plan in 7 easy steps</p>
          </div>
        </ng-template> -->
            </owl-carousel-o>

        </div>

    </div>
    <div class="container mt-5 pt-50 ">
        <div class="cta">
            <div class="row align-items-center">
                <div class="col-lg-2 col-3 col-sm-2 mob-center">
                    <img src="assets/img/grow_investment_icon.svg">
                </div>
                <div class="col-lg-7 col-9 col-sm-7 mob-center">
                    <h3>Grow your family's investment in one place</h3>
                </div>
                <div class="col-lg-3 col-12 col-sm-3">
                    <button class="nav-link btn btn-primary theme-button m0-auto">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>