.slider-head {
    /* font-size: 44px;
	font-weight: 600;
	color: #242424; */
    font-family: "Circular Std font", Sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 54px;
    letter-spacing: 0px;
    color: #242424;
}

.setBlueColor {
    color: #00a0ae;
}

.slider-txt {
    font-size: 20px;
}

.carousel-control-prev-icon {
    background-image: url('../../../../assets/img/arrow_left.svg');
}

.carousel-control-next-icon {
    background-image: url('../../../../assets/img/arrow_right.svg');
}
/* .carousel-control-prev-icon {
	background-image: url(../../assets/img/arrow_left.svg);
}

.carousel-control-next-icon {
	background-image: url(../../assets/img/arrow_right.svg);
} */

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
    /* border:2px solid red; */
    /* background :transparent; */
    margin-top:-30% !important;
}

/* .carousel-control-next,
.carousel-control-prev {
   
    position: absolute !important;
	width: 15%;
	height: 10%;
	top: 50% !important;
	transform: translateY(-50%) !important;
	z-index: 1 !important;
} */

/* .carousel-control-prev {
    left: -10%;
}

.carousel-control-next {
    right: -10%;
} */

#testimonial .carousel-indicators {
    display: none;
}

/* .carousel-indicators [data-bs-target]{
	width: 12px;
	height: 12px;
	background-color: #465A65;
	border-radius: 50px;
	border: 0px;
} */

.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators button {
    width: 42px;
    height: 13px;
    margin: 0 5px;
    border-radius: 10px;
    border: 0px;
    /* border: 1px solid rgba(255, 255, 255, 0.796); */
    background-color: #C0DDED;
}

.carousel-indicators .active {
    background-color: #00A0AE;
}

.carousel-indicators {
    bottom: -50px;
}

.testimonial-slider {
    position: relative;
  }
  
  .testimonial-slider .user-img {
    margin-bottom: 20px;
    height: 96px;
    width: 96px;
  }
  
  .testimonial-slider h4 {
    color: #222222;
    font-weight: 600;
    font-size: 30px;
  }
  
  .testimonial-slider p {
    font-size: 20px;
    padding: 1% 20%;
  }

  ::ng-deep .testimonial-slider .owl-prev {
    left: -4rem;
    background: transparent !important;
    z-index: 999;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 3rem !important;
    width: 3rem !important;
    top: 8rem;
    box-shadow: none;
    opacity: 0.5;
    /* border:2px solid red; */
  }

  ::ng-deep .testimonial-slider .owl-prev:hover,
::ng-deep .testimonial-slider .owl-next:hover {
  opacity: 1;
}

::ng-deep .testimonial-slider .owl-next {
  right: -3rem;
  background: transparent !important;
  z-index: 999;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 3rem !important;
  width: 3rem !important;
  top: 8rem;
  box-shadow: none;
  opacity: 0.5;
}

::ng-deep .testimonial-slider .owl-nav img {
    width: 3rem;
    height: 3rem;
  }
  
  ::ng-deep .testimonial-slider .owl-nav {
      transition: all 0.5s ease;
  }
  
  ::ng-deep .testimonial-slider .owl-theme .owl-dots .owl-dot span {
    background: #465a65;
    opacity: 0.5;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
  }
  ::ng-deep .testimonial-slider .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #465a65;
    opacity: 1;
  }
  .testimonial-slider p {
    font-size: 20px;
    padding: 1% 20%;
  }

  .testimonial-slider h4 {
    font-size: 24px;
  }



.loan-type {
    text-align: center;
}

.loan-type img {
    width: 28%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.loan-type p {
    margin-bottom: 0px;
    margin-top: 10px;
    color: #465A65;
}

::ng-deep .owl-next:before,
::ng-deep .owl-prev:before {
    display: none;
}

::ng-deep .owl-prev i,
::ng-deep .owl-next i {
    color: #a9b7b9;
    font-size: 30px;
}

::ng-deep .owl-prev,
::ng-deep .owl-next {
    width: 35px;
    height: 35px;
}

.money-mng {
    text-align: center;
    cursor: pointer;
}

.money-mng img {
    width: 26%;
    margin-bottom: 10px;
}

.money-mng p {
    margin-bottom: 0px;
    color: #465A65;
    /* font-size: 20px; */
}

.partner-txt {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partner-txt h3 {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}

.partner-txt p {
    font-size: 21px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

.user-img {
    margin-bottom: 15px;
    border-radius: 50%;
    width: 100px;
}

#testimonial h4 {
    color: #222222;
    font-weight: 600;
    font-size: 30px;
}

#testimonial p {
    font-size: 18px;
    padding: 1% 20%;
}

#testimonial .carousel-control-prev {
    left: -4%;
}

#testimonial .carousel-control-next {
    right: -4%;
}



/* .testimonialtext {
    text-align: justify !important;
} */

.upquote {
    position: absolute;
    top: 0px;
    width: 15%;
    right: 0%;
}

.downquote {
    position: absolute;
    bottom: 0px;
    width: 16%;
    left: 0%;
}

.view-all {
    color: #00A0AE;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: none;
}

.trending-product {
    border: 1px solid #bbc0c3;
    margin-left: 8px;
    border-radius: 14px;
    padding: 15px;
    margin-bottom: 15px;
    background: #fbfbfb;
    min-height: 8rem;
}

.trending-product img {
    width: 100%;
    margin-bottom: 0px;
}

.trending-product p {
    font-size: 18px;
    color: #222222;
    font-weight: 500;
}

.trending-product p.trend-head {
    /* min-height: 60px; */
    align-items: center;
    display: flex;
}

.finance-news {
    margin: 0 5px;
    /*margin-left: 37px;*/
}

/*.financial-slider .slick-slide{
	opacity: 0.3;
}
.financial-slider .slick-slide.slick-active{
	opacity: 1;
	}*/
::ng-deep .financial-slider .owl-prev {
    left: 5px;
    /* background: #eef8fa !important; */
    background: transparent !important;
    z-index: 999;
    display: flex !important;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 124px !important;
    width: 40px !important;
    top: 35px;
    box-shadow: 0px 0px 5px #0000001c;
    /* opacity: .9; */
    opacity: 0.5;
    border:2px solid red;

}

::ng-deep .financial-slider .owl-next {
 
    right: -5px;
    background: #eef8fa !important;
    z-index: 999;
    display: flex !important;
    position: absolute;
    align-items: center;
    justify-content: center;
      height: 124px !important;
	width: 40px !important;
	top: 35px;
    box-shadow: 0px 0px 5px #0000001c;
    /* opacity: .9; */
    opacity: 0.5;
    background: transparent !important;

}

::ng-deep .financial-slider.fin .owl-prev {
    left: -5px;
    background: #eef8fa !important;
    z-index: 999;
    display: flex !important;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 124px !important;
    width: 40px !important;
    top: 35px;
    box-shadow: 0px 0px 5px #0000001c;
    opacity: .9;
}

::ng-deep .financial-slider.fin .owl-next {
    right: -5px;
    background: #faf2ee !important;
    z-index: 999;
    display: flex !important;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 124px !important;
    width: 40px !important;
    top: 35px;
    box-shadow: 0px 0px 5px #0000001c;
    opacity: .9;
}

::ng-deep .financial-slider .owl-nav img {
    border:2px solid red;
    width: 3rem !important;
    height: 3rem !important;
}

::ng-deep .financial-slider .owl-nav .owl-prev,
::ng-deep .financial-slider .owl-nav .owl-next {
	opacity: 0 !important;
	transition: all 0.5s ease;
	margin: 0;
}

::ng-deep .financial-slider:hover .owl-nav .owl-prev,
::ng-deep .financial-slider:hover .owl-nav .owl-next {
	opacity: 0.9 !important
}
::ng-deep .financial-slide .fin .owl-nav .owl-prev,
::ng-deep .financial-slider .fin .owl-nav .owl-next {
	opacity: 0 !important;
	transition: all 0.5s ease;
	margin: 0;
}

::ng-deep .financial-slider .fin:hover .owl-nav .owl-prev,
::ng-deep .financial-slider .fin:hover .owl-nav .owl-next {
	opacity: 0.9 !important
}

.finance-news img {
    width: 100%;
    margin-bottom: 15px;
    height: 200px;
    object-fit: cover;
}

.finance-news p {
    font-size: 18px;
    color: #222222;
    font-weight: 500;
}

.financial-slider .slick-initialized .slick-slide {
    padding-left: 20px;
}

.financial-slider.fin .slick-initialized .slick-slide {
    padding-left: 20px;
}
.plr-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.price-tag {
    background: #D4DEE3;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    min-height: 58px;
}

.financial-slider .slick-initialized .slick-slide {
    padding-left: 20px;
}
.financial-slider .fin .slick-initialized .slick-slide {
    padding-left: 20px;
}
.cta h3 {
    color: #222222;
    font-size: 42px;
    font-weight: 600;
}

.cta {
    box-shadow: 0px 4px 8px #0000003D;
    border-radius: 30px;
    padding: 20px 20px;
    background: #fff;
    z-index: 1;
    position: relative;
}

.m0-auto {
    margin: 0 auto;
}

.col {
    flex: 1 0 0% !important;
}

.hidden-lg {
    display: none;
}

.protect p {
    font-size: 20px;
    margin-bottom: 35px;
}

.br-btm {
    width: 100px;
    border-bottom: 2px solid #e27e28;
    margin-bottom: 15px;
}

.protect .title-head {
    margin-bottom: 5px !important;
}

p.trend-name {
    font-size: 14px !important;
    line-height: 18px !important;
    color: #222 !important;
    margin-bottom: 0px;
    ;
}

.title-head2 {
    color: #222222;
    font-size: 32px;
    font-weight: 600;
}

.font18 {
    font-size: 18px;
}
.font14 {
    font-size: 14px;
}

.flow-row {
    flex-flow: row;
    /* margin-top: 30px; */
}

.loan-opt .money-mng img {
    width: 30%;
}

.flow-row .money-mng {
    text-align: center;
    width: auto;
    margin: 1%;
}

.flow-row .money-mng img {
    width: 45%;
}

.elementor-icon-list-text {
    font-size: 20px;
    margin-left: 5px;
}

/* changes by sw  for phydigital section*/
.phydigitalsection {
    /* border: 1px solid red; */
    margin-top: 80px;
    /* margin-left: 15%; */
    /* display: flex;
	justify-content: center;
	align-items: center; */
    /* margin-left: 250px; */
}

.phydigitalimg {
    /* border: 1px solid green; */
    width: 400px !important;

    /* gpt sol. */
    max-width: 100%;
    height: auto;
}

.widget-container {
    /* border: 1px solid yellow; */
    color: #333333;
    font-family: "Circular Std font", Sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 54px;
    letter-spacing: 0px;
    margin-left: 100px;
    /* margin-top: 0px; */
}

.phydigitalheading {
    color: black;
}

.phydigitalheading span {
    color: #00a0ad;
}

.phydigitalparentdiv {
    margin-top: 30px;
    margin-left: 100px;
}

.firstpoint {
    margin-top: 20px;
}

.right_arrow_img {}

.elementor-icon-list-text {
    font-size: 20px;
    margin-left: 5px;
}

.partnerbtn {
    margin-left: 100px;
    margin-top: 33px;
}


/* modal part */
.modal {
    bottom: 0;
    top: auto;
    transform: translateY(100%);
    transition: transform 0.6s;
}

.modal.show {
    transform: translateY(0);
}

.modal.hide {
    transform: translateX(0);
}

#partnerModal {
    /* overflow-y: hidden !important;  */
}

/* .modal-dialog {
	width: 800px !important; 
	height: 1200px !important; 
	margin: 0 auto; 
	transform: translateY(-50%);
  } */

.modal-dialog {
    overflow-y: hidden !important;
    max-width: 860px !important;
    /* max-height: 1200px !important; */
    /* border: 1px solid white; */
    border-radius: 10px;
}

.modal-content {
    /* border: 1px solid red; */
    max-width: 860px !important;
    height: 550px !important;
    border-radius: 25px;


}

.modal-body {

    padding: 60px 60px 60px 60px;

}

/* .modal.modal-body{
	border: none;
	padding: 0;
	margin: 0;
  } */
.closeicon .close {
    width: 30px;
    height: 30px;
    margin-left: 28px;
    margin-top: 23px;
    /* padding: 8px; */
    border: 2px solid #F7F7F7;
    background: linear-gradient(156.65deg, #ECECEC 1.2%, #FFFFFF 98.95%);
    border-radius: 100px;
    box-shadow: -10px -10px 20px #FFFFFF, 8px 8px 24px rgba(210, 210, 210, 0.5);
}

.phydigital_partner_img {
    /* border: 1px solid green; */
    width: 350px !important;

    /* sol. */
    /* max-width: 100%; */
    height: auto;
    margin-top: -20px;
}

.modal-body button {
    position: relative;
    top: 65px;
}

.modalpartnerbtn {
    margin-left: 150px;
    margin-top: 25px;
    width: 330px !important;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #f2f2f2;
    border-radius: 10px !important;
    /* Add border radius here */
    border: none !important;
    outline: none !important;
    /* border-radius: 5px !important; */
    /* border:2px solid red; */
}

th,
td {
    border: 1px solid #c9c7c7;
    padding: 8px;
    text-align: left;
    /* border: none !important;
    outline: none !important; */
}

/* th {
    background-color: #f2f2f2;
} */
table,
th,
td {
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: left;
    /* // text-align: center; */

}

thead th {
    /* position: sticky; */
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    /* cursor: pointer; */
    text-transform: capitalize;
}

tbody tr:last-child {
    /* color:green; */
    font-weight: 600 !important;
}

/* .table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
  } */

@media (max-width: 575.98px) {
    .phydigitalsection {
        /* margin-top: 80px; */
        margin-left: 10px;
    }

    .phydigitalimg {
        width: 100% !important;
    }

    .widget-container {
        font-size: 24px;
        line-height: 36px;
        margin-left: 0;
        margin-top: 18px;
        text-align: left;
    }

    .phydigitalparentdiv {
        margin-left: 0;
        margin-top: 14px;
    }

    .firstpoint {
        margin-top: 14px;
    }

    .right_arrow_img {
        width: 20px;
        height: 20px;
    }

    .elementor-icon-list-text {
        font-size: 16px;
        margin-left: 5px;
    }

    .partnerbtn {
        margin-left: 0;
        margin-top: 20px;
    }

    /* modal part responsiveness of come join us banner section and phydigital partner button section */
    .modal {
        bottom: 0;
        top: auto;
        transform: translateY(100%);
        transition: transform 0.6s;
    }

    .modal.show {
        transform: translateY(0);
    }

    .modal.hide {
        transform: translateX(0);
    }

    #partnerModal {
        /* overflow-y: hidden !important;  */
    }

    .modal-dialog {
        overflow-y: hidden !important;
        max-width: 860px !important;
        /* max-height: 1200px !important; */
        /* border: 1px solid white; */
        border-radius: 10px;
    }

    .modal-content {
        /* border: 1px solid red; */
        max-width: 860px !important;
        height: 550px !important;
        border-radius: 25px;
    }

    .modal-body {

        padding: 10px 10px 10px 10px;

    }

    /* .modal.modal-body{
		  border: none;
		  padding: 0;
		  margin: 0;
		  } */
    .closeicon .close {
        width: 30px;
        height: 30px;
        margin-left: 25px;
        margin-top: 20px;
        /* padding: 8px; */
        border: 2px solid #F7F7F7;
        background: linear-gradient(156.65deg, #ECECEC 1.2%, #FFFFFF 98.95%);
        border-radius: 100px;
        box-shadow: -10px -10px 20px #FFFFFF, 8px 8px 24px rgba(210, 210, 210, 0.5);
    }

    .phydigital_partner_img {
        /* border: 1px solid green; */
        width: 280px !important;

        height: auto;
        /* margin-top: -10px; */

        display: block;
        margin: 0 auto;
        /* max-width: 100%; */
    }

    .modal-body button {
        position: relative;
        top: 35px;
    }

    .modalpartnerbtn {
        /* margin-left: 45px; */
        /* margin-top: 25px; */
        display: block;
        margin: 15px auto;
        width: 230px !important;
    }

    /* modal part responsiveness of come join us banner section and phydigital partner button section */

}

@media only screen and (max-width: 767px) {

    .slider-head {
        /* font-size: 25px;
			font-weight: 600;
			color: #242424;
			margin-top: 30px; */
        font-family: "Circular Std font", Sans-serif;
        font-size: 24px;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: 0px;
        color: #242424;

        margin-top: 30px;

    }

    .loan-type p {
        margin-bottom: 0px;
        margin-top: 10px;
        font-size: 13px;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }

    .slider-txt {
        font-size: 14px;
    }

    .carousel-control-prev {
        left: -3%;
    }

    .carousel-control-next {
        right: -3%;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 2rem;
        height: 6.5rem;
    }

    .about p {
        text-align: justify;
        font-size: 15px;
        /* font-weight: 600; */
    }
    .about .font12{
        text-align: justify;
        font-size: 12px;
        color: #707070;
        /* font-weight: 600; */
    }

    .about .text-end p {
        text-align: right;
    }

    .about {
        margin-bottom: 35px;
    }

    .about img.w-100 {
        width: 100% !important;
        margin: 0 auto;
    }

    .about .col-lg-4 {
        text-align: center;
    }

    .about .title-head2 {
        font-size: 24px;
        margin-bottom: 10px !important;
        text-align: left;
    }

    .about .text-end .title-head2 {
        text-align: right;
    }

    p.trend-name {
        font-size: 14px;
    }

    .money-mng p {
        font-size: 14px;
    }

    .money-mng img {
        width: 33%;
    }

    .protect {
        text-align: center;
    }

    .protect .title-head1 {
        font-size: 24px;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 8px !important;
    }

    .protect .br-btm {
        margin: 0 auto 0 0px;
        margin-bottom: 15px;
    }

    .protect p {
        text-align: left;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .protect .theme-button {
        margin: 0 auto 0 0;
    }

    .trending-product {
        margin-left: 5px;
        margin-right: 5px;
    }

    .money-invest .col {
        flex: 1 0 50% !important;
    }

    .money-mng.mob-inv img {
        width: 55%;
    }

    .flow-row {
        margin-top: 0px;
    }

    .money-mng {
        margin-bottom: 20px;
    }

    .partner-txt h3 {
        font-size: 26px;
    }

    .partner-txt p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .partner-txt {
        left: 0;
        width: 100%;
        padding: 0 5%;
    }

    #testimonial p {
        font-size: 16px;
        padding: 1% 10%;
    }

    #testimonial h4 {
        font-size: 24px;
    }

    .client-img img {
        width: 100%;
        margin-top: 20%;
    }

    .partner5 .col img {
        width: 50%;
    }

    .col-6 {
        flex: 0 0 auto !important;
        width: 50%;
    }

    .hidden-xs {
        display: none;
    }

    .hidden-lg {
        display: block;
    }

    .finance .title-head1 {
        font-size: 28px;
        text-align: center;
        /* text-align: left; */
    }

    .trending-product {
        margin-left: 0px;
        margin-right: 0px;
    }

    .trending-product p {
        text-align: left;
    }

    .finance .title-head1 {
        font-size: 28px;
        text-align: left;
    }

    .finance-news p {
        text-align: left;
    }

    .finance-news {
        /* margin-left: 0px; */
        margin-left: 10px;
        margin-right: 0px;
    }

    .mob-center {
        text-align: center;
    }

    .cta h3 {
        font-size: 20px;
        text-align: left;
    }

    .cta .mob-center img {
        width: 100%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .elementor-icon-list-text {
        font-size: 17px;
        margin-left: 5px;

        letter-spacing: 0.45px;
    }

    .phydigitalsection {
        margin-left: 10px;
        max-width: 992px;
    }

    .phydigitalimg {
        width: 100% !important;
    }

    .widget-container {
        font-size: 34px;
        line-height: 54px;
        margin-left: 0;
        margin-top: 18px;
        text-align: left;
        font-weight: 900;
    }

    .phydigitalparentdiv {
        margin-left: 0;
        margin-top: 14px;
    }

    .firstpoint {
        margin-top: 20px;
    }

    .right_arrow_img {
        width: 20px;
        height: 20px;
    }

    .elementor-icon-list-text {
        font-size: 17px;
        margin-left: 5px;

        letter-spacing: 0.45px;
    }
    .elementor-icon-list-text .font12{
        font-size: 12px !important;
    }

    .partnerbtn {
        margin-left: 0;
        margin-top: 25px;
    }

    /* modal part responsiveness of come join us banner section and phydigital partner button section */
    .modal {
        bottom: 0;
        top: auto;
        transform: translateY(100%);
        transition: transform 0.6s;
    }

    .modal.show {
        transform: translateY(0);
    }

    .modal.hide {
        transform: translateX(0);
    }

    #partnerModal {
        /* overflow-y: hidden !important;  */
    }

    .modal-dialog {
        overflow-y: hidden !important;
        max-width: 860px !important;
        /* max-height: 1200px !important; */
        /* border: 1px solid white; */
        border-radius: 10px;
    }

    .modal-content {
        /* border: 1px solid red; */
        max-width: 860px !important;
        height: 550px !important;
        border-radius: 25px;


    }

    .modal-body {

        padding: 60px 60px 60px 60px;

    }

    /* .modal.modal-body{
	  border: none;
	  padding: 0;
	  margin: 0;
	} */
    .closeicon .close {
        width: 40px;
        height: 40px;
        margin-left: 33px;
        margin-top: 28px;
        /* padding: 8px; */
        border: 2px solid #F7F7F7;
        background: linear-gradient(156.65deg, #ECECEC 1.2%, #FFFFFF 98.95%);
        border-radius: 100px;
        box-shadow: -10px -10px 20px #FFFFFF, 8px 8px 24px rgba(210, 210, 210, 0.5);
    }

    .phydigital_partner_img {
        /* border: 1px solid green; */
        width: 350px !important;

        /* sol. */
        /* max-width: 100%; */
        height: auto;
        margin-top: -20px;
    }

    .modal-body button {
        position: relative;
        top: 65px;
    }

    .modalpartnerbtn {
        margin-left: 25px;
        margin-top: 25px;
        width: 330px !important;
    }

    /* modal part responsiveness of phydigital partner button section */
    .testimonial-slider .owl-next {
        right: 0rem;
      }
    
      .testimonial-slider .owl-prev {
        left: 0rem;
      }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    #demo .slider-head {
        font-size: 45px;

        /* added by shaunak */
        /* border: 1px solid green; */
        padding-top: 60px;
        font-weight: 900;
        letter-spacing: 0px;
        color: #242424;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 2.5rem;
        height: 6.5rem;
    }

    #demo .carousel-item .col-lg-5 {
        text-align: center;
    }

    #demo .carousel-item .col-lg-5 .w-100 {
        width: 75% !important;
        margin-top: 15px;
    }

    #demo .slider-txt {
        font-size: 24px;
    }

    .money-invest.loan-opt .align-items-center {
        align-items: baseline !important;
    }

    .loan-opt .money-mng img {
        width: 48%;
    }

    .partner-txt p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .about {
        margin-bottom: 30px;
    }

    .cta h3 {
        color: #222222;
        font-size: 30px;
    }

    .cta .mob-center img {
        width: 95%;
    }

    .about br {
        display: none;
    }

    .about .title-head2 {
        font-size: 28px;
    }

    .client-img .col {
        flex: 0 0 auto !important;
        width: 20%;

    }

    .partner5 .col img {
        width: 70%;
    }

    .client-img .col img {
        width: 100%;
        margin-top: 15%;
    }

}

/* added by sw for partners icon's responsiveness start */

/* @media (max-width: 1025px) { */
@media only screen and (min-width: 991px) and (max-width: 1270px) {

    .client-img .col {
        flex: 0 0 auto !important;
        width: 19%;

    }

    .client-img .col img {
        width: 90%;
        margin-top: 15%;
    }

    .partner5 .col img {
        width: 70%;
    }
}


@media only screen and (min-width: 1289px) and (max-width: 1350px) {

    .client-img .col {
        flex: 0 0 auto !important;
        width: 19%;

    }

    .client-img .col img {
        width: 90%;
        margin-top: 15%;
    }

    .partner5 .col img {
        width: 70%;
    }
}


@media only screen and (min-width: 1370px) and (max-width: 1400px) {

    .client-img .col {
        flex: 0 0 auto !important;
        width: 19%;

    }

    .client-img .col img {
        width: 90%;
        margin-top: 15%;
    }

    .partner5 .col img {
        width: 70%;
    }

}

/* added by sw for partners icon's responsiveness end */




/*-------------------new mobile media-------------*/
@media only screen and (max-width: 767px) {

    #demo .carousel-control-next,
    #demo .carousel-control-prev {
        display: none;
    }

    .horizontal-scroll1 {
        display: flex;
        overflow-x: scroll;
        height: 9rem;
        flex-wrap: nowrap;
    }

    .horizontal-scroll1::-webkit-scrollbar {
        display: none;
    }

    /* .carousel-control-prev, .carousel-control-next{
			display: none;
		} */
    .loan-opt .money-mng img {
        width: 40%;
    }

    .money-invest.loan-opt .align-items-center {
        align-items: baseline !important;
    }

    .money-invest .col {
        flex: 1 0 33% !important;
    }

    .slider-head {
        font-size: 26px;
        /* font-weight: 500; */
    }

    .mt-5.common-mt-3 {
        margin-top: 1rem !important;
    }

    .cta {
        background: #fff;
        box-shadow: none;
    }

    .footer {
        background-image: none;
    }
}



@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .phydigitalsection {
        margin-left: 10px;
        max-width: 1200px;
    }

    .phydigitalimg {
        width: 100% !important;
    }

    .widget-container {
        font-size: 37px;
        line-height: 54px;
        margin-left: 30px;
        margin-top: -10px;
        text-align: left;
        font-weight: 900;
    }

    .phydigitalparentdiv {
        margin-left: 30px;
        margin-top: 34px;
    }

    .firstpoint {
        margin-top: 20px;
    }

    .right_arrow_img {
        width: 20px;
        height: 20px;
    }

    .elementor-icon-list-text {
        font-size: 18px;
        margin-left: 5px;

        letter-spacing: 0.45px;
    }

    .partnerbtn {
        margin-left: 30px;
        margin-top: 25px;
    }

}

/*-------------------1366x768-------------*/
@media only screen and (min-width: 1350px) and (max-width: 1370px) {
    .slider-head {
        font-size: 38px;
        line-height: 50px;
        font-weight: 600;
        color: #242424;
    }

    .slider-txt {
        font-size: 18px;
        line-height: 30px;
        color: #222222;
    }

    .w-100.wd90 {
        width: 90% !important;
    }

    .loan-type img {
        width: 24%;
    }

    .flow-row .money-mng img {
        width: 43%;
    }

    .flow-row {
        flex-flow: row;
        /* margin-top: 10px; */
    }

    .mt-5.common-mt-3 {
        margin-top: 1rem !important
    }

    .pt-70.common-pt-50 {
        padding-top: 40px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 2.5rem;
        height: 6.5rem;
    }

    .carousel-item .col-lg-4 {
        text-align: right;
    }

    .why-finizon p {
        padding-right: 45px;
    }

    .about .col-lg-4 img {
        width: 80% !important;
    }

    .about {
        padding-bottom: 30px;
    }

    .why-finizon .col-lg-4 {
        text-align: right;
    }

    .client-img .col img {
        width: 85%;
        margin-top: 15%;
    }

    .partner5 .col img {
        width: 70%;
    }
}



/*-------------------1280x800-------------*/
@media only screen and (min-width: 1270px) and (max-width: 1290px) {
    .slider-head {
        font-size: 38px;
        font-weight: 600;
        color: #242424;
        line-height: 50px;
    }

    .slider-txt {
        font-size: 18px;
        line-height: 30px;
        color: #222222;
    }

    .w-100.wd90 {
        width: 100% !important;
    }

    .loan-type p {
        color: #465A65;
        font-size: 18px;
    }

    .loan-type img {
        width: 28%;
    }

    .mt-5.common-mt-3 {
        margin-top: 1rem !important
    }

    .pt-70.common-pt-50 {
        padding-top: 50px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 2.5rem;
        height: 6.5rem;
    }

    .carousel-item .col-lg-4 {
        text-align: right;
    }

    .money-mng p {
        color: #465A65;
        font-size: 18px;
    }

    .money-mng img {
        width: 29%;
    }

    .why-finizon p {
        padding-right: 45px;
    }

    .about .col-lg-4 img {
        width: 80% !important;
    }

    .about {
        padding-bottom: 30px;
    }

    .why-finizon .col-lg-4 {
        text-align: right;
    }

    .client-img .col img {
        width: 85%;
        margin-top: 15%;
    }

    .partner5 .col img {
        width: 70%;
    }
}

/*-------------------1440x900-------------*/
@media only screen and (min-width: 1400px) and (max-width: 1450px) {
    .slider-head {
        font-size: 40px;
        font-weight: 600;
        color: #242424;
        line-height: 50px;
    }

    .slider-txt {
        font-size: 21px;
        line-height: 30px;
        color: #222222;
    }

    .w-100.wd90 {
        width: 100% !important;
    }

    .loan-type p {
        font-size: 18px;
    }

    .loan-type img {
        width: 30%;
    }

    .money-mng p {
        font-size: 20px;
    }

    .money-mng img {
        width: 30%;
    }

    .mt-5.common-mt-3 {
        margin-top: 1.5rem !important
    }

    .pt-70.common-pt-50 {
        padding-top: 60px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 2.5rem;
        height: 6.5rem;
    }

    .carousel-item .col-lg-4 {
        text-align: right;
    }

    .why-finizon p {
        padding-right: 45px;
    }

    .about .col-lg-4 img {
        width: 80% !important;
    }

    .about {
        padding-bottom: 30px;
    }

    .why-finizon .col-lg-4 {
        text-align: right;
    }

    .client-img .col img {
        width: 85%;
        margin-top: 15%;
    }

    .partner5 .col img {
        width: 70%;
    }

    .loan-opt .money-mng img {
        width: 38%;
    }

    .flow-row .money-mng img {
        width: 54%;
    }

    .protect p {
        font-size: 24px;
    }

}

@media only screen and (min-width: 1450px) and (max-width: 1530px) {
    .client-img .col img {
        width: 85%;
        margin-top: 15%;
    }

    .partner5 .col img {
        width: 60%;
    }
}

/*-------------------1536x864-------------*/
@media only screen and (min-width: 1530px) and (max-width: 1550px) {
    .slider-head {
        font-size: 38px;
        font-weight: 600;
        color: #242424;
        line-height: 50px;
    }

    .slider-txt {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 25px;
        color: #222222;
    }

    .flow-row .money-mng img {
        width: 77%;
    }

    .flow-row .money-mng.mob-inv img {
        width: 50% !important;
    }

    .w-100.wd90 {
        width: 90% !important;
    }

    .loan-type p {
        font-size: 18px;
    }

    .loan-type img {
        width: 24%;
    }

    .loan-opt .money-mng img {
        width: 34%;
    }

    .flow-row .money-mng img {
        width: 45%;
    }

    .protect p {
        font-size: 24px;
    }

    .money-mng img {
        width: 29%;
    }

    .money-mng p {
        font-size: 18px;
    }

    .mt-5.common-mt-3 {
        margin-top: 2.5rem !important
    }

    .pt-70.common-pt-50 {
        padding-top: 75px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 2.5rem;
        height: 6.5rem;
    }

    .carousel-item .col-lg-4 {
        text-align: right;
    }

    .why-finizon p {
        padding-right: 45px;
    }

    .about .col-lg-4 img {
        width: 80% !important;
    }

    .about {
        padding-bottom: 30px;
    }

    .why-finizon .col-lg-4 {
        text-align: right;
    }

    .client-img .col img {
        width: 85%;
        margin-top: 15%;
    }

    .partner5 .col img {
        width: 50%;
    }
}

@media only screen and (min-width: 1550px) and (max-width: 1590px) {
    .client-img .col img {
        width: 85%;
        margin-top: 15%;
    }

    .partner5 .col img {
        width: 60%;
    }
}

@media only screen and (min-width: 1590px) and (max-width: 1610px) {
    .about .col-lg-4 img {
        width: 80% !important;
    }

    .about {
        padding-bottom: 30px;
    }

    .client-img .col img {
        width: 85%;
        margin-top: 15%;
    }

    .partner5 .col img {
        width: 60%;
    }
}


@media only screen and (min-width: 1920px) {
    .phydigitalsection {
        margin-left: 20%;

    }

    .phydigitalimg {
        width: 100% !important;
    }

    .widget-container {
        font-size: 37px;
        line-height: 54px;
        margin-left: 50px;
        margin-top: 10px;
        text-align: left;
        font-weight: 900;
    }

    .phydigitalparentdiv {
        margin-left: 50px;
        margin-top: 38px;
    }

    .firstpoint {
        margin-top: 20px;
    }

    .right_arrow_img {
        width: 20px;
        height: 20px;
    }

    .elementor-icon-list-text {
        font-size: 18px;
        margin-left: 5px;
        letter-spacing: 0.45px;
    }

    .partnerbtn {
        margin-left: 50px;
        margin-top: 30px;
    }

}

@media only screen and (min-width: 1900px) and (max-width: 1950px) {

    .slider-head {
        font-size: 50px;
        font-weight: 600;
        color: #242424;
        line-height: 65px;
    }

    .slider-txt {
        font-size: 24px;
        line-height: 36px;
        color: #222222;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .w-100.wd90 {
        width: 100% !important;
    }

    .loan-type img {
        width: 32%;
    }

    .mt-5.common-mt-3 {
        margin-top: 3.5rem !important
    }

    .pt-70.common-pt-50 {
        padding-top: 90px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 2.5rem;
        height: 6.5rem;
    }

    .carousel-item .col-lg-4 {
        text-align: right;
    }

    .testimonial-slider h4 {
        color: #222222;
        font-weight: 600;
        font-size: 40px;
      }
    
      .testimonial-slider p {
        font-size: 24px;
        padding: 1% 20%;
      }
    .why-finizon p {
        padding-right: 45px;
        font-size: 24px;
    }

    .about .col-lg-4 img {
        width: 80% !important;
    }

    .about {
        padding-bottom: 30px;
    }

    .why-finizon .col-lg-4 {
        text-align: right;
    }

    .money-mng p,
    .loan-type p {
        font-size: 24px;
    }

    .client-img .col img {
        width: 85%;
        margin-top: 15%;
    }

    .partner5 .col img {
        width: 60%;
    }

    .finance-news p {
        font-size: 21px;
    }

    .finance-news {
        margin-left: 20px;
    }

    p.trend-name {
        font-size: 20px !important;
        line-height: 22px !important;
    }

    .title-head2 {
        font-size: 40px;
    }

    .about .font18 {
        font-size: 24px;
        line-height: 32px;
    }

    #testimonial h4 {
        color: #222222;
        font-weight: 600;
        font-size: 40px;
    }

    #testimonial p {
        font-size: 18px;
        padding: 1% 17%;
    }

    .partner-txt h3 {
        font-size: 40px;
        margin-bottom: 30px;
        color: #fff;
        font-weight: 600;
    }

    .partner-txt p {
        font-size: 24px;
        font-weight: 300;
    }

    .theme-button {
        padding: 15px;
        font-weight: 600;
        width: 180px;
        font-size: 18px !important;
    }

    .protect p {
        font-size: 32px;
    }

    .money-mng img {
        width: 30%;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .loan-opt .money-mng img {
        width: 38%;
    }

    .flow-row .money-mng img {
        width: 56%;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1035px;
    }

    .money-invest.loan-opt .col {
        flex: 0 0 auto !important;
        max-width: 20%;
        margin-bottom: 15px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1900px) and (max-width: 1950px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1400px;
    }
}


.backdrop-loader {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 9999;
    display: table-cell;
    height: 100vh;
}

.spinner {
    height: 60px;
    display: block;
    vertical-align: middle;
    margin: 46vh auto;
    text-align: center;
    font-size: 10px;
}

#loader_msg {
    font-size: 14px;
}

.spinner>div {
    width: 15px;
    height: 15px;
    background-color: #00A0AE;
    border-radius: 100%;
    display: inline-block;
    margin-right: 3px;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    animation-delay: -0.16s;
}


@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        background-color: #00A0AE;
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        background-color: #00A0AE;
    }
}