<nav aria-label="" class="navbar navbar-expand-sm navbar-dark header-nav  ">
  <div class="container pos-rel">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/img/finizon_logo.png" class="logo" alt="logo">
    </a>
    <a class="nav-link nav-toggle mobile-toggle" (click)="handleOpenCloseNav()">
      <img src="assets/img/menu.svg" alt="menu">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">

      <form class="d-flex 	">
        <ul class="navbar-nav align-items-center">
          
          <li class="nav-item hidden-xs ">

            <a class="nav-link hide-list" (click)="insureLink()">Insure</a>

          </li>
          <!--ORG code-->     
         

          <!-- below is temporary redirection of wealth-->
          <li class="nav-item hidden-xs">
            <a class="nav-link hide-list" (click)="wealthlink()">Wealth</a>
          </li>

          <!-- *******Customer******* -->
          <li class="btn-group hidden-xs">
            <a class="nav-link btn ms-2 "
              data-bs-toggle="dropdown" data-bs-display="dynamic" aria-expanded="false" href="javascript:void(0)">Customer
            <span style="margin-left: 10px;"><i class="jet-dropdown-arrow fa fa-angle-down"></i></span></a>
              
            <div  class="login-popup dropdown-menu dropdown-menu-lg-end">
              <div class="sign-in">
                <div class="col-lg-8 col-sm-6">
                    <button class="nav-link active btn btn-primary theme-button modalpartnerbtn" (click)="customerinsurancelink()">Insurance</button>

                    <button class="nav-link active btn btn-primary theme-button modalpartnerbtn" (click)="customerinvestmentlink()">Investment</button>
                  
                </div>
              </div>
              
            </div>
          </li>
          <!-- *******Customer******* -->

          <!-- ********Partner******** -->
          <li class="btn-group hidden-xs">
            <a class="nav-link btn ms-2"
              data-bs-toggle="dropdown" data-bs-display="dynamic" aria-expanded="false" href="javascript:void(0)">Partner
              <span style="margin-left: 10px;"><i class="jet-dropdown-arrow fa fa-angle-down"></i></span></a>
            <div  class="login-popup dropdown-menu dropdown-menu-lg-end">
              <div class="sign-in">
                
                <div class="col-lg-8 col-sm-6">
                
                  <button class="nav-link active btn btn-primary theme-button modalpartnerbtn" (click)="partnerinsurancelink()">Insurance</button>

                  <button class="nav-link active btn btn-primary theme-button modalpartnerbtn" (click)="partnerinvestmentlink()">Investment</button>
                </div>
              </div>
            
            </div>
          </li>
          <!-- ********Partner******** -->




          <li (click)="handleOpenCloseNav()">
            <a class="nav-link pe-0 nav-toggle" href="javascript:void(0)">
              <img src="assets/img/menu.svg" alt="menu" class="menu-ic">
            </a>
          </li>
        </ul>


      </form>
    </div>

  </div>
</nav>


<div id="site-wrapper">
  <div id="site-backdrop"></div>
  <nav aria-label="" class="menu" id="site-wrapper-menu" role="navigation">
    <span>
      <a (click)="handleOpenCloseNav()" class="nav-link nav-toggle show-nav onsidebar">
        <i class="fas fa-times"></i>
      </a>
    </span>
    <ul class="hidden-xs hidden-sm scrollmenu">
     
      <li><a data-bs-toggle="collapse" href="#Toolscollapse" role="button" aria-expanded="false"
        aria-controls="collapseExample" class="drop-menu" rel="noopener">Tools</a>
    </li>
      <div class="collapse" id="Toolscollapse">
        <div class="card card-body">
          <ul>
            <!-- <li><a target="_blank" rel="noopener" href="https://dev.finizon.com/insureright">Insureright</a></li>
            <li><a target="_blank" rel="noopener" href="https://dev.finizon.com/spprd/hospicash?referralid=care">Hospicash</a></li>
            <li><a target="_blank" rel="noopener" href="https://dev.finizon.com/spprd/wellness?referralid=svaas">Wellness</a></li> -->

            <li style="cursor:pointer;" ><a (click)="insurerightLink()">Insureright</a></li>
            <!-- <li style="cursor:pointer;" ><a (click)="hospicashLink()">Hospicash</a></li> -->
            <li style="cursor:pointer;" ><a (click)="wellnessLink()">Wellness</a></li>

            <li style="cursor:pointer;" ><a (click)="insurefitLink()">InsureFit 360</a></li>
            <li style="cursor:pointer;" ><a (click)="shopkeeperLink()">Shopkeeper Insurance</a></li>
            <li style="cursor:pointer;" ><a (click)="monexoLink()">P2P Lending</a></li>
          </ul>
        </div>
      </div>

      <li><a href="#" rel="noopener">About Us</a></li>
      <li><a href="#" rel="noopener">Knowledge Center</a></li>
      <li style="cursor: pointer;"><a data-toggle="modal" data-target="#supportModal"(click)="showSupportModal()">Support</a></li>

    </ul>
    <ul class="hidden-lg scrollmenu">

      <li class="mobile hidden-tablet"><a (click)="insureLink()">Insure</a></li>
      <li class="mobile hidden-tablet"><a  (click)="wealthlink()">Wealth</a></li>

      <li class="mobile"><a data-bs-toggle="collapse" href="#Toolscollapse1" rel="noopener" role="button" aria-expanded="false"
          aria-controls="collapseExample" class="drop-menu">Tools</a></li>
      <div class="collapse" id="Toolscollapse1">
        <div class="card card-body">
          <ul>
            <li style="cursor:pointer;" ><a (click)="insurerightLink()">Insureright</a></li>
            <!-- <li style="cursor:pointer;" ><a (click)="hospicashLink()">Hospicash</a></li> -->
            <li style="cursor:pointer;" ><a (click)="wellnessLink()">Wellness</a></li>

            <li style="cursor:pointer;" ><a (click)="insurefitLink()">InsureFit 360</a></li>
            <li style="cursor:pointer;" ><a (click)="shopkeeperLink()">Shopkeeper Insurance</a></li>
            <li style="cursor:pointer;" ><a (click)="monexoLink()">P2P Lending</a></li>

          </ul>
        </div>
      </div>
      <li class="mobile"><a href="#" rel="noopener">About Us</a></li>
      <li class="mobile"><a href="#" rel="noopener">Knowledge Center</a></li>
      <li class="mobile" style="cursor: pointer;"><a data-toggle="modal" data-target="#supportModal"(click)="showSupportModal()">Support</a></li>
    </ul>
    <div class="nav-footer">
      <div class="d-flex term-link">
        <span>Share & Refer</span>
        <span><a routerLink="/terms-of-use" target="_blank">Terms & Conditions</a> </span>
      </div>
      <ul class="nav-social">
        <li>
          <a target="_blank" href="https://www.facebook.com/finizonapp" rel="noopener"><img
              src="assets/img/facebook.svg" alt="fb"></a>
        </li>
        <li>
          <a target="_blank" href="https://www.instagram.com/finizonapp/" rel="noopener"><img
              src="assets/img/instagram.svg" alt="instagram"></a>
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/company/finizonapp/" rel="noopener"><img
              src="assets/img/linkedin.svg" alt="linkedin"></a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/finizonapp" rel="noopener"><img src="assets/img/twitter.svg" alt="twitter"></a>
        </li>
      </ul>
      <div class="nav-copyright">
        <p>Copyright {{footerYear}} AAPT Fintech Pvt Ltd.</p>
      </div>
    </div>
  </nav>


</div>

<app-support-modal #supportModal>
</app-support-modal>