<div class="container">
    <div class="row align-items-center pt-30">
        <div class="col-lg-6 col-md-6">
            <img src="assets/img/tools/1-step.png" class="main-img" alt="main-img"/>
        </div>
        <div class="col-lg-6 col-md-6">
            <h3 class="main-title">We collaborate with finance partners across India to <span>guide 
                you towards financial wellness</span></h3>
                <!-- <button type="button" class="btn btn-primary theme-button mt-3">Come Join Us <span class="ms-2"><img src="assets/images/next.svg"></span></button> -->
        </div>
    </div>
    <div class="row align-items-center mt-7">
        <div class="col-lg-12 text-center">
            <h4 class="main-subhead">Invest in popular goals</h4>
        </div>
        <div class="col-lg-3 col-md-3 col-6">
            <div class="goal-box" [routerLink]="['/investment/car']">
                <img src="assets/img/tools/car-goal.svg" alt="car-goal"/>
                <p>Car</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6">
            <div class="goal-box" [routerLink]="['/investment/education']">
            <img src="assets/img/tools/education-goal.svg" alt="eduaction-goal"/>
            <p>Education</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6">
            <div class="goal-box" [routerLink]="['/investment/house']">
            <img src="assets/img/tools/home-goal.svg" alt="home-goal"/>
            <p>House</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6">
            <div class="goal-box" [routerLink]="['/investment/retirement']">
            <img src="assets/img/tools/retired-goal.svg" alt="retired-goal"/>
            <p>Retirement</p>
            </div>
        </div>
    </div>
</div>
