<div class="container mb10per">
  <div class="row mt-4">
    <div class="col-lg-12">
      <h4 class="breadcrumb-title"><span><i class="fa fa-arrow-left i-icon"></i></span>Account Details</h4>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-3 hidden-xs" id="sidebar-main">
      <app-account-desktop-menu></app-account-desktop-menu>
    </div>
    <div class="col-lg-9 tab-detail">
      <div class="row align-items-center port-row">
        <div class="col-12">
          <h4 class="breadcrumb-title"><span routerLink="/account-details"><i class="fa fa-arrow-left i-icon"></i></span> Update Loan Details</h4>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-lg-12">
          <div class="offer-div">
            <div class="offer-product">
              <div class="offer-bank">
                <div>
                  <img src="assets/img/kotak_bank.png" class="offerbank-img">
                </div>
                <div>
                  <p class="bank-name mb-0">{{OfflineLoanData?.product_name}}</p>
                  <p class="typeloan" *ngIf="OfflineLoanData?.loan_type == 1">Personal Loan</p>
                  <p class="typeloan" *ngIf="OfflineLoanData?.loan_type == 2">Home Loan</p>
                  <p class="typeloan" *ngIf="OfflineLoanData?.loan_type == 3">Education Loan</p>
                  <p class="typeloan" *ngIf="OfflineLoanData?.loan_type == 4">Business Loan</p>
                  <p class="typeloan" *ngIf="OfflineLoanData?.loan_type == 5">Loan Against Property</p>
                </div>
              </div>
              <div class="text-end" *ngIf="!validate.isNullEmptyUndefined(OfflineLoanData?.updatedAt)">
                <p class="lastupdate">Last Updated On : {{OfflineLoanData?.updatedAt}}</p>
              </div>
            </div>
            <div class="row offer-detail m-0">
              <div class="col-3 l-div">
                <p>Loan Amount</p>
                <h5>{{OfflineLoanData?.loan_amount}}</h5>
              </div>
              <div class="col-3">
                <p>Loan Duration</p>
                <h5>{{OfflineLoanData?.tenure}} Years</h5>
              </div>
              <div class="col-3">
                <p>Rate of Interest</p>
                <h5>{{OfflineLoanData?.roi}}%</h5>
              </div>
              <div class="col-3 r-div">
                <p>EMI due on {{OfflineLoanData?.emi_due_date}}</p>
                <h5 class="duecol">₹ {{OfflineLoanData?.emi_month}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="profile-card"  data-bs-toggle="modal" data-bs-target="#emipaymentstatus-modal" (click)="GetEmiMonthsByYear()">
            <div class="prof-detail">
              <div>
                <h5>Update EMI payment status</h5>
              </div>
            </div>
            <div>
              <img src="assets/img/arrow_right.svg" class="arrow-right" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="profile-card" data-bs-toggle="modal" data-bs-target="#emiamount-modal">
            <div class="prof-detail">
              <div>
                <h5>Update EMI amount</h5>
              </div>
            </div>
            <div>
              <img src="assets/img/arrow_right.svg" class="arrow-right" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="profile-card" data-bs-toggle="modal" data-bs-target="#loantenure-modal">
            <div class="prof-detail">
              <div>
                <h5>Update Loan Tenure</h5>
              </div>
            </div>
            <div>
              <img src="assets/img/arrow_right.svg" class="arrow-right" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="profile-card" data-bs-toggle="modal" data-bs-target="#topup-modal">
            <div class="prof-detail">
              <div>
                <h5>Add Home Loan Top-up</h5>
              </div>
            </div>
            <div>
              <img src="assets/img/arrow_right.svg" class="arrow-right" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="profile-card upload-div" *ngIf="!uploadStatement" (click)="uploadStatement=true">
            <div class="prof-detail">
              <div>
                <h5>Upload your latest statement</h5>
              </div>
            </div>
            <div>
              <img src="assets/img/upload_icon.svg" class="arrow-right" />
            </div>
          </div>
          <div class="profile-card upload-div data" *ngIf="uploadStatement">
            <div class="prof-detail">
              <div>
                <h5>Latest Statement</h5>
                <p>April_25_statement.pdf</p>
              </div>
            </div>
            <div>
              <img src="assets/img/delete_icon1.svg" class="arrow-right" />
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <button type="button" class="btn btn-primary theme-button mb-3">Save Changes</button>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Update Modal -->
<div class="modal fade amount-modal" id="emiamount-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <h5>Update EMI Amount</h5>
          <div class="col-12 text-center mb-3 pos-rel">
            <input type="text" class="form-control custom-formfield" placeholder="Enter Rate of Interest"
              [(ngModel)]="roi" (keypress)="validate.numberOnly($event)"/>
            <span class="input-value-trans">%</span>
          </div>
          <div class="col-12 text-center mb-3 pos-rel">
            <input type="text" class="form-control custom-formfield" placeholder="Enter EMI Amount"
              [(ngModel)]="emi_month" (keypress)="validate.numberOnly($event)" />
            <span class="input-value-trans">INR</span>
          </div>
          <div class="row ms-0 me-0">
            <div class="btn-div">
              <button type="button" data-bs-dismiss="modal" class="btn btn-primary feature-cancel me-2"> Cancel
              </button>
              <button type="button" class="btn btn-primary feature-apply" (click)="UpdateEMIAmount()"> Proceed </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Update Modal End -->


<!-- Update Modal -->
<div class="modal fade amount-modal" id="loantenure-modal" tabindex="-1" aria-labelledby="ModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <h5>Update Loan Tenure</h5>
          <div class="col-lg-12">
            <h6>What is the Loan Tenure?</h6>
          </div>
          <div class="col-12 text-center mb-3 pos-rel">
            <input type="text" class="form-control custom-formfield" placeholder="Enter Year" 
            [(ngModel)]="tenure" (keypress)="validate.numberOnly($event)"/>
            <span class="input-value-trans">Yrs</span>
          </div>
          <div class="row ms-0 me-0">
            <div class="btn-div">
              <button type="button" data-bs-dismiss="modal" class="btn btn-primary feature-cancel me-2"> Cancel
              </button>
              <button type="button" class="btn btn-primary feature-apply" (click)="UpdateTenure()"> Proceed </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Update Modal End -->

<!-- Update EMI Payment Status -->
<div class="modal fade amount-modal" id="emipaymentstatus-modal" tabindex="-1" aria-labelledby="ModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <h5>Update EMI Payment Status</h5>
          <!-- <div class="col-lg-12">
            <h6>Select your EMI payment Status</h6>
          </div> -->
          <div class="col-12 text-center mb-3 pos-rel">
            <div id="demo" class="carousel slide" data-bs-ride="carousel">
              <!-- The slideshow/carousel -->
              <div class="carousel-inner">
                <!-- <div class="carousel-item" [ngClass]="i==0?'active':''" *ngFor="let in of counter(YearList) ;let i = index">
                  <div class="row align-items-center">
                    <div class="col-12">
                     <p>{{EMIStartyear+i}}</p>
                     <input type="text" value="{{EMIStartyear+i}}">
                     <div hidden>{{test(EMIStartyear+i)}}</div>
                     <div hidden>
                      {{EMIYear}}
                     </div>
                    </div>                  
                  </div>
                </div> -->
                <div class="carousel-item active">
                  <div class="row align-items-center">
                    <div class="col-12">
                     <p>{{EMIYear}}</p>
                     <div hidden>
                      {{EMIYear}}
                     </div>
                    </div>                  
                  </div>
                </div>
              </div>
          
              <!-- Left and right controls/icons -->
          
              <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev" (click)="DecrementYear()">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next" (click)="IncrementYear()">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
          </div>
          <div class="col-12">
            <div class="select-box2">
              <span *ngFor="let month of MonthArray;" [ngClass]="month?.Active==1?'active':''"  (click)="ActiveMonth(month)">{{month?.monthText}}</span>              
            </div>
          </div>
          <div class="row ms-0 me-0">
            <div class="btn-div">
              <button type="button" data-bs-dismiss="modal" class="btn btn-primary feature-cancel  me-2"> Cancel
              </button>
              <button type="button" class="btn btn-primary feature-apply" (click)="UpdateEMIStatus()"> Proceed </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Update EMI Payment Status -->


<!-- Update Modal -->
<div class="modal fade amount-modal" id="topup-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <h5>Home Loan Top-up</h5>
          <div class="col-lg-12">
            <h6>Add Home Loan Top-up</h6>
          </div>
          <div class="col-12 text-center mb-3 pos-rel">
            <input type="text" class="form-control custom-formfield" placeholder="Enter Amount" />
            <span class="input-value-trans">INR</span>
          </div>
          <div class="col-lg-12">
            <h6>What is the Loan Tenure?</h6>
          </div>
          <div class="col-6 text-center mb-3 pos-rel">
            <input type="text" class="form-control custom-formfield" placeholder="Enter Year" />
            <span class="input-value-trans">Yrs</span>
          </div>
          <div class="col-6 text-center mb-3 pos-rel">
            <input type="text" class="form-control custom-formfield" placeholder="Enter Month" />
            <span class="input-value-trans">Ms</span>
          </div>
          <div class="col-12 text-center mb-3 pos-rel">
            <input type="text" class="form-control custom-formfield" placeholder="Enter Rate of Interest" />
            <span class="input-value-trans">%</span>
          </div>
          <div class="col-12 text-center mb-3 pos-rel">
            <input type="text" class="form-control custom-formfield" placeholder="Enter EMI Amount" />
            <span class="input-value-trans">INR</span>
          </div>
          <div class="row ms-0 me-0">
            <div class="btn-div">
              <button type="button" data-bs-dismiss="modal" class="btn btn-primary feature-cancel me-2"> Cancel
              </button>
              <button type="button" class="btn btn-primary feature-apply" data-bs-dismiss="modal" data-bs-toggle="modal"
                data-bs-target="#otp-screen"> Proceed </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Update Modal End -->
