.breadcrumb-title{
	color: #465A65;
	font-size: 30px;
	font-weight: 600;
	position: relative;
	padding-bottom: 15px;
}
.tab-detail .breadcrumb-title{
    margin-bottom: 0px;
    font-size: 24px;
}
.mb10per{
    margin-bottom: 10%;
}
.i-icon{
	color: #4c616b;
	font-size: 27px;
}
.breadcrumb-title::after
{
	content: '';
	border-bottom: 3px solid #e27e28;
	width: 50px;
	position: absolute;
	left: 0;
	bottom: 5px;
}
.breadcrumb-sub {
	font-size: 18px;
	line-height: 30px;
	color: #222222;
}
.profile-menu{
    border-radius: 8px;
    border: 1px solid #c7cdd0;
}
.port-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.port-row .breadcrumb-title{
    font-size: 24px;
}
.profile-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px 10px;
    cursor: pointer;
}
.prof-detail{
    display: flex;
    align-items: center;
    justify-content: start;
}
.prof-detail img{
    border-radius: 50px;
    margin-right: 8px;
    width: 45px;
}
.prof-detail h5{
    font-size: 16px;
    margin-bottom: 0px;
    color: #465A65;
    font-weight: 600;
}
.prof-detail p{
    margin-bottom: 0px;
}
.prof-detail p span{
    font-size: 14px;
    color: #222222;
    margin-bottom: 0px;
    margin-right: 10px;
    position: relative;
}
.prof-detail p span:before{
    content: '';
    position: absolute;
    left: -6px;
    top: 35%;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    color: #00a0ae;
    background-color: #00a0ae;
}
.prof-detail p span:first-child:before{
    display: none;
}
.link-btn{
    padding: 10px;
    color: #fff!important;
    font-weight: 600;
    background-color: #E27E28;
    width: auto;
    border-color: #E27E28;
    border-radius: 12px;
    font-size: 16px!important;
}
.arrow-right{
    width: 15px;
}
.uploaded-pic{
    display: flex;
    justify-content: start;
    align-items: center;
}
.uploaded-pic img{
    width: 80px;
    border-radius: 50px;
    margin-right: 10px;
}
.uploaded-pic p{
    margin-bottom: 0px;
    font-size: 14px;    
}
.port-row{
    margin-bottom: 10px;
}
.upload-btn{
	padding: 10px;
    color: #E27E28!important;
    font-weight: 500;
    background-color: transparent;
    border-color: #E27E28;
    border-radius: 12px;
    font-size: 16px!important;	
}

.form-floating>.form-control {
    border: 1px solid #D4DEE3;
    border-radius: 8px;
}
.form-floating>label{
    color: #858585;
}
.form-floating>.form-control:-webkit-autofill~label {
    opacity: 0.9;
}
.form-floating>.form-control, .form-floating>.form-select {
    height: calc(3rem + 5px);
    line-height: 1.25;
}
.country-drop{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    font-size: 14px;
    text-align: center;
    background-color: #D4DEE3;
    color: #465A65;
    font-weight: 600;
    height: 53px;
    border-radius: 8px 0px 0px 8px;
    border-right: 0px;
}
.mobile-input input{
    border-radius: 0px 8px 8px 0px!important;
}
.m-div{
    border-radius: 8px 0px 0px 8px;
    padding: 12px;
    border: 1px solid #d4dee3;
    color: #858585;
    padding-right: 0px!important;
    text-align: center;
    background: #fff;
    border-right: 0px;
    cursor: pointer;
}
.f-div{
    border-radius: 0px;
    padding: 12px;
    border: 1px solid #d4dee3;
    color: #858585;
    padding-left: 0px!important;
    padding-right: 0px!important;
    text-align: center;
    background: #fff;
    border-left: 0px;
    border-right: 0px;
    cursor: pointer;
}
.o-div{
    border-radius:0px 8px 8px 0px;
    padding: 12px;
    border: 1px solid #d4dee3;
    color: #858585;
    padding-right: 0px!important;
    text-align: center;
    background: #fff;
    border-left: 0px;
    cursor: pointer;
}
.form-check-label {
    font-size: 18px;
}
.form-check-label span{
    color: #00a3b1;
}

.activetxt{
    color: #00A3B1;    
    border: 1px solid #00A3B1;
    background: #e5f5f7;
}
.profile-card.upload-div{
background-color: transparent;
border-radius: 6px;
border: 1px dashed #d7d7dd;
}
.profile-card.upload-div.data{
    border: 0px dashed #d7d7dd;
}
.profile-card.upload-div.data h5{
    font-size: 16px;
    margin-bottom: 5px;
}
.profile-card.upload-div.data .arrow-right{
    width: 22px;
}
.offer-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offer-bank{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.offerbank-img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.offer-bank .bank-name{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
}
.offer-share{
    width: 55%;
}
.offer-div{
    border: 1px solid #D4DEE3;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 15px 10px;
}
.offer-detail{
    background-color: #D6F0F3;
    border-radius: 8px;
    padding: 8px 5px;
    margin-top: 8px!important;
}
.offer-detail p{
    color: #465A65;
    font-size: 14px;
    margin-bottom: 2px;;
}
.offer-detail h5{
   color: #222222;
   margin-bottom: 0px;
   font-size: 16px;
   font-weight: 600;
}
.offer-detail .col-4{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.offer-product .typeloan{
    margin-bottom: 0px;
    font-size: 14px;
}
.offer-product .lastupdate{
    margin-bottom: 0px;
    font-size: 14px;
}
.offer-detail .col-3{
    text-align: center;
}
.r-div .duecol{
    color: #00A0AD;
}
.feature-apply{
	padding: 10px;
    color: #fff!important;
    font-weight: 500;
    background-color: #E27E28;
    width: 150px;
    border-color: #E27E28;
    border-radius: 12px;
    font-size: 16px!important;
}
.feature-cancel{
	padding: 10px;
    color: #F54B4B!important;
    font-weight: 500;
    background-color: transparent;
    width: 150px;
    border-color: transparent;
    border-radius: 12px;
    font-size: 16px!important;	
}

.btn-div{
	justify-content: space-between;
    width: 100%;
    display: flex;
	margin-top: 2%;
    border-top: 1px solid #cdcdcd;
    padding-top: 20px;
}
.amount-modal h5{
    text-align: left;
    font-weight: 600;
    color: #465A65;
    margin-bottom: 15px;
    margin-top: 15px;
}
.amount-modal p{
    color: #222222;
    text-align: center;
}

.amount-modal .modal-content{
    border-radius: 12px;
}
.input-value-trans{
    font-size: 14px;
    color: #222;
    padding: 3px 0px;
    position: absolute;
    right: 10%;
    top: 28%;;
}
.select-box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.select-box2 span {
    padding: 8px 15px;
    border-radius: 8px;
    color: #858585;
    text-align: center;
    font-size: 15px;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #858585;
    cursor: pointer;
    width: 31%;
}
.select-box2 span.active {
  
    color: #00a0ae; 
    border: 1px solid #00a0ae;
}
.select-box2 span.disable{
    cursor:not-allowed;
}
.carousel-control-next, .carousel-control-prev{
    width: 7%;
    background: rgb(0 0 0 / 43%);
    padding: 8px;
}
#demo p{
    margin-bottom: 0px;
    font-size: 18px;
}
@media only screen and (max-width: 767px){
    .link-btn {
        padding: 8px;
        border-radius: 8px;
        font-size: 14px!important;
    }
    .input-value-trans{
        top: 30%;
      }
}