<div class="Hospicash">

    <div class="image-with-text">
        <div class="text">
            <div> Protecting Your Wheels,<br><br>Shielding Your Wallet</div>

            <!-- <div class="black">Finizon's InsureFit 360,<br> Your All-in-One Solution!</div> -->
        </div>
        <!-- <img src="../../../assets/img/web-banner-PNG.png" alt=""> -->
        <img src="../../../assets/img/MOTOR-INSURANCE PIC.png" alt="">

    </div>

    <!-- <div class="Hospicash_content1">
        <div class="HospiCashT">Motor insurance – a preventive care plan</div>
        <p class="para"> It is no secret that health has become one of the most important aspects of our lives in this
            modern age. Owing to rising
            chronic lifestyle illnesses such as High Blood Pressure, Diabetes and Cholesterol, we firmly believe that
            preventive
            healthcare is the only viable and long-term solution. Everyone has a great deal of control over the state of
            their health
            through the lifestyle decisions they make and hence, buying
            <b>motor insurance, a complete preventive care solution</b>
            would
            be the next step forward which besides getting you fit and healthy, will keep you insured as well.
        </p>

    </div> -->

    <!-- <div class="Hospicash_content2">
        <div class="HospiCashT">
            What is Covered under Finizon’s motor insurance?</div>

        <p class="para">Finizon’s <b> motor insurance </b>is India’s first ‘outcome-based health insurance
            program’,
            powered by <b>motor</b>, through which it offers <b>Personal Coaching + Smart Device (motor) + Health
                Insurance.</b></p>
 
        <p class="para">

            It will allow you to monitor multiple health parameters, as well as track steps, sleep, calories
            burned & much more. By adopting healthy habits & behaviours on the motor app, one get a Health Insurance
            cover for up to ₹5 lakhs (through S.A.F.E model) with Care Health Insurance.
        </p>
     
        <p class="para">
            <b>How does it work? Play it SAFE</b>
            <br>
            The SAFE model (Sedentary, Active, Fit & Elite) consists of levels within the motor Ecosystem. Every motor
            player (user) that activates their plan starts their health journey on the lowest tier of the SAFE score
            i.e., Sedentary. At this level, player is eligible for a Health Insurance cover of ₹3 Lakh. By leading a
            healthy lifestyle and engaging on the motor App, players can
            improve their SAFE score and progress to Active, Fit and Elite to increase the value of their health
            insurance cover up to ₹5 lakhs.
        </p>
        <p class="para">
            Refer to the below table to understand the tiers in the SAFE Score.
        </p>
        <div class="safesore">

            <img src="../../../assets/img/Insurance+Card.png" alt="">



        </div>
    </div> -->

    <!-- <div class="wrapper">
        <div class="product-details">
            <div class="HospiCashT_List">Product details</div>
            <ul class="list-style">
                <li>12 months subscription</li>
                <li>Monitor Blood Oxygen Saturation (SpO2)</li>
                <li>Measure ECG, Blood pressure & Heart Rate 24x7</li>
                <li>Track Body Temperature 24x7</li>
                <li>Auto Sleep Tracking</li>
                <li>Multiple Exercise Modes</li>
                <li>Steps counting</li>
                <li>Women Care</li>
                <li>Health insurance upto INR 5 Lakhs*
                    <ul style="list-style: none;">
                        <li> In-Patient Treatment covered</li>
                        <li> 30-60 Days Pre-Post Hospitalization expenses period covered</li>
                        <li> Day Care Treatment Covered</li>
                        <li> Donor Expenses Covered</li>
                        <li> Emergency Ambulance Covered up to ₹2000/claim</li>
                        <li> Room Rent Capping -
                            <ul style="list-style: none;">
                                <div>For <b>Sedentary</b>& <b>Active</b>: Normal- ₹2,000/day | ICU- ₹4,000/day </div>
                                <div>For <b>Fit & Elite</b>: No capping for Normal & ICU rooms </div>
                                <div> If the room rent exceeds the limit prescribed, the medical
                                    expenses payable will be on pro-rata basis. This is not
                                    applicable for medicines/pharmacy, medical consumables and
                                    medical implants, which will be payable in actuals.</div>


                            </ul>
                        </li>
                        <li> Sub-Limits: Cataract – Per eye ₹20,000/-</li>
                        <li> Wait Period-

                            <ul class="custom-list custom-square">
                                <li>Initial waiting period - 30 Days</li>
                                <li>Specified disease/procedure waiting period – 12 months</li>
                                <li>Pre-existing disease waiting period – 24 months</li>
                            </ul>
                        </li>

                    </ul>
                </li>

            </ul>
            <div class="safepara">*As per motor SAFE score</div>
        </div>

        <div class="policy-details">
            <div class="HospiCashT_List">Benefits</div>
            <div class="policy-point">
                <ul class="list-style ">
                    <li><b>Personal health coach</b>- a personal coach who will guide you to a healthier lifestyle</li>

                    <li><b>Certified health experts</b>- Health experts will give you health and nutrition advice based
                        on your
                        health goals</li>

                    <li><b>Tele-consultations with doctors</b> - Get medical consult from qualified doctor and book
                        diagnostic
                        tests via app</li>

                    <li><b>Interactive video coaching</b> - an interactive live-video platform where you can get inputs
                        from
                        fitness experts as they talk</li>
                    <li><b>motor Cash Rewards</b>- A virtual rewards program -motor Cash, earned for completing steps
                        taken
                        targets and other health goals can be redeemed at the motor Health Store for discounts.</li>
                    <li><b>Challenges</b> – motivating & encouraging people to take up health related activities to
                        achieve
                        better health outcomes</li>
                    <li><b>motor Health Store, and much more</b>- a holistic services marketplace offering a range of
                        health
                        related products and services </li>

                </ul>

            </div>
            <div class="SV2-A"><img src="../../../assets/img/Insurance-+.png" alt=""></div>

        </div>
    </div> -->


    <div>
        <div class="Hospicash_content2">
            <!-- <div class="HospiCashT">Options Available with
                <img class="optionimg" src="../../../assets/img/motorSquareLogo-style.png" alt="">

            </div> -->



            <div class="motor">Lets kickstart with your Motor Journey.</div>
        </div>

        <div class="apply-now">

            <!-- <form [formGroup]="referralForm">
                <div class="form-row">
                    <div class="form-column">
                        <label for="customer-name" class="cust_name">Customer Name *</label>
                        <app-input class="input" [placeholder]="'Enter your full name'" formFieldClass="w-90perc"
                            [errorMessage]="formErrors.cust_name" [control]="referralForm.get('custmor_name')"
                            appearance="outline" maxlength='30' (keyup)="onKeyup($event)"></app-input>
                    </div>
                    <div class="form-column">
                        <label for="customer-email" class="cust_name">Customer E-mail *</label>
                        <app-input class="input" [placeholder]="'Enter your email'" formFieldClass="w-90perc"
                            [errorMessage]="formErrors.cust_email" [control]="referralForm.get('custmor_email')"
                            appearance="outline"></app-input>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-column">
                        <label for="customer-mobile  custom-width" class="cust_mob">Customer Mobile No *</label>
                        <app-input class="input" [type]="'tel'" [placeholder]="'Enter your mobile no'"
                            formFieldClass="w-90perc" [errorMessage]="formErrors.phone_No"
                            [control]="referralForm.get('mobile')" appearance="outline" maxlength='10'></app-input>
                    </div>
                    <div class="form-column">
                        <label for="agent-code  custom-width" class="agent_code">Finizon Agent Code(Optional)</label>
                        <app-input class="input agentinput" [placeholder]="'Enter your agent code'"
                            formFieldClass="w-90perc" [errorMessage]="formErrors.agent_code"
                            [control]="referralForm.get('agentCode')" appearance="outline" minlength="12" maxlength='13'
                            (input)="disableSpecialCharacters($event)"></app-input>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-column">
                        <a href="https://aaptfin.com/?q={{agentCode}}">
                            <button type="submit" id="apply-btn" (click)="onSubmit()">Apply Now</button>
                        </a>
                    </div>
                </div>
            </form> -->



            <!-- ================================ -->
            <!-- <form [formGroup]="myForm" (ngSubmit)="Submit()">
                <div class="form-row">
                    <div class="form-column">
                        <label for="customer-name" class="cust_name">Customer Name *</label>
                        <input type="text" formControlName="customer_name" class="form-control" name="Name"
                            placeholder="Enter Full Name" class="form-control" (keyup)="onKeyup($event)" errorMessage="formErrors.cust_name">
                            <div *ngIf="myForm.get('customer_name')?.hasError('required') && myForm.get('customer_name')?.touched" class="text-danger">Customer Name is required.</div>
                            <div *ngIf="myForm.get('customer_name')?.hasError('pattern') && myForm.get('customer_name')?.touched" class="text-danger">Please enter correct Customer Name.</div>

                    </div>
                    <div class="form-column">
           
                        <label for="customer-email" class="cust_name">Customer E-mail</label>
                        <input type="text" formControlName="customer_email" class="form-control" name="Email"
                            placeholder="Enter Email" class="form-control" errorMessage="formErrors.cust_email">
                            <div *ngIf="myForm.get('customer_email')?.hasError('required') && myForm.get('customer_email')?.touched" class="text-danger">Please enter a valid email address.</div>
                            <div *ngIf="myForm.get('customer_email')?.hasError('pattern') && myForm.get('customer_email')?.touched" class="text-danger">E-mail should be combination of alphabets, numbers and special character also.</div>
                        </div>
                </div>

                <div class="form-row">
                    <div class="form-column">
                        <label for="customer_mobile_no  custom-width" class="cust_mob">Customer Mobile No *</label>
                        <input type="text" formControlName="customer_mobile_no" class="form-control" name="mobileNumber"
                            placeholder="Enter Phone" class="form-control" maxlength='10'
                            (input)="disableSpecialCharacters($event)">
                            <div *ngIf="myForm.get('customer_mobile_no')?.hasError('required') && myForm.get('customer_mobile_no')?.touched" class="text-danger">Customer Mobile Number is required.</div>
                            <div *ngIf="myForm.get('customer_mobile_no')?.hasError('pattern') && myForm.get('customer_mobile_no')?.touched" class="text-danger">Please enter a valid 10-digit mobile number starting with 6-9.</div>
                    </div>
                   
                    <div class="form-column">
                        <label for="falca_branch_id  custom-width" class="cust_mob">Falca Branch ID *</label>
                        <input type="text" formControlName="falca_branch_id" class="form-control" name="Falca_Branch_Id"
                            placeholder="Enter Falca Branch ID" minlength="12" maxlength='13'>
                            <div *ngIf="myForm.get('falca_branch_id')?.hasError('required') && myForm.get('falca_branch_id')?.touched" class="text-danger">Falca Branch ID is required.</div>

                    </div>
                </div>


                <div class="form-row">
                   
                    <div class="form-column">
                        <label for="falca_unique_ref_no  custom-width" class="cust_mob">Falca Unique Reference No *</label>
                        <input type="text" formControlName="falca_unique_ref_no" class="form-control Falca_Unique_Id" name="Falca_Ref_no"
                            placeholder="Enter Falca Unique Reference No" minlength="12" maxlength='13'>
                            <div *ngIf="myForm.get('falca_unique_ref_no')?.hasError('required') && myForm.get('customer_email')?.touched" class="text-danger">Falca Unique Reference No is required.</div>

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-column">
                            <button id="apply-btn" (click)="Submit()">Apply Now</button>
                    </div>
                </div>
            </form> -->


            <!-- =============================================== -->



            <!-- trial -->

            <form [formGroup]="myForm">
                <!-- <div class="details"> -->
                <div class="form-row">

                    <div class="form-column">
                        <label for="customer_name" class="cust_name">Customer Name *</label>
                        <input type="text" formControlName="customer_name" class="form-control" name="customer_name"
                            placeholder="Enter Full Name" class="form-control" (keyup)="onKeyup($event)">

                        <div *ngIf="myForm.controls['customer_name'].invalid && (myForm.controls['customer_name'].touched || isSubmitted)"
                            class="text-danger">
                            Please enter a valid name. Use only letters and
                            spaces.
                        </div>
                    </div>



                    <div class="form-column">
                        <label for="customer_email" class="cust_name">Customer E-mail</label>
                        <input type="text" formControlName="customer_email" class="form-control" name="customer_email"
                            placeholder="Enter Email" class="form-control">
                        <div *ngIf="myForm.controls['customer_email'].invalid && (myForm.controls['customer_email'].touched || isSubmitted)"
                            class="text-danger">
                            Please enter a valid email address
                        </div>
                    </div>

                </div>

                <!-- ============= -->

                <div class="form-row">

                    <div class="form-column">
                        <label for="customer_mobile_no custom-width" class="cust_mob">Customer Mobile No *</label>
                        <input type="text" formControlName="customer_mobile_no" class="form-control" name="customer_mobile_no"
                            placeholder="Enter Phone" class="form-control" maxlength='10'
                            (input)="disableSpecialCharacters($event)">
                        <div *ngIf="myForm.controls['customer_mobile_no'].invalid && (myForm.controls['customer_mobile_no'].touched || isSubmitted)"
                            class="text-danger">
                            Please enter a valid 10-digit mobile number starting with 6-9
                        </div>
                    </div>

                    <div class="form-column comments">

                        <label for="falca_branch_id custom-width" class="cust_mob">Falca Branch ID *</label>
                        <!-- <textarea type="text" formControlName="Comments" class="form-control" name="Comments"
                            placeholder="Enter comments" class="form-control"></textarea> -->
                        <input type="text" formControlName="falca_branch_id" class="form-control" name="falca_branch_id"
                            placeholder="Enter Falca Branch ID" class="form-control" minlength="12" maxlength='13'>

                        <div *ngIf="myForm.controls['falca_branch_id'].invalid && (myForm.controls['falca_branch_id'].touched || isSubmitted)"
                            class="text-danger">
                            Please enter valid 12-13 characters Falca branch ID.
                        </div>
                    </div>

                </div>


                <!-- ================ -->

                <div class="form-row">

                    <div class="form-column comments">

                        <label for="falca_unique_ref_no custom-width" class="cust_mob">Falca Unique Reference No *</label>

                        <input type="text" formControlName="falca_unique_ref_no" class="form-control Falca_Unique_Id"
                            name="falca_unique_ref_no" placeholder="Enter Falca Unique Reference No" minlength="12" maxlength='13'>

                        <div *ngIf="myForm.controls['falca_unique_ref_no'].invalid && (myForm.controls['falca_unique_ref_no'].touched || isSubmitted)"
                            class="text-danger">
                            Please enter valid 12-13 characters Falca Unique Reference No.
                        </div>
                    </div>

                </div>




                <!-- ================ -->
                <div class="mb-5 center ">
                    <button class="btn btn-primary theme-button submit" (click)="Submit()">SUBMIT</button>
                </div>
                <!-- </div> -->
            </form>
        </div>

        <div class="Apply_now_note">On clicking the button above, you will be redirected to a 3rd party website.</div>

    </div>
</div>

<!-- routerLink="/placeholder" -->