<div class="container mb10per">
    <div class="row mt-4 hidden-xs">
      <div class="col-lg-12 d-none d-lg-block d-md-block d-sm-block">
        <h4 class="breadcrumb-title"><span [routerLink]="['/dashboard']"><img
              src="assets/img/back-router.svg" alt="" class="back-arrow"></span>
          &nbsp;Account Details</h4>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-3 col-md-4" id="sidebar-main">
        <div class="left-sidebar" id="sidebar">
          <app-account-desktop-menu></app-account-desktop-menu>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 pd-right-div">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-lg-9 col-7">
                <h4 class="breadcrumb-title"><span class="hidden-lg me-2"
                    [routerLink]="['/account-desktop-menu']"><img src="assets/img/back-router.svg"
                      alt="" class="back-arrow"></span>Active Insurance</h4>
              </div>
              <div class="col-lg-3 col-5">
                <!-- <div class="select-dropdown">
                  <select>
                    <option value="Option 1">Select</option>
                    <option value="Option 2">Myself</option>
                    <option value="Option 3">Option Number 3</option>
                  </select>
                </div> -->
              </div>
            </div>
            <div class="row">
              <div class="clo-12">
                <div class="main-div" [routerLink]="['/account-portfolio']">
                  <div class="row outer-bg">
                    <div class="col-lg-1 col-2">
                      <img src="{{praposerDetails?.insuranceLogoUrl}}" class="ins-logo">
                    </div>
                    <div class="col-lg-7 col-5 ins-name">
                      <h5>{{praposerDetails ?.insuranceCompany}}</h5>
                      <p>{{activePraposerNumber?.category_id}} Insurance</p>
                    </div>
                    <div class="col-lg-4 col-5">
                      <div class="flex-between">
                        <div><img src="assets/img/share_icon.svg" class="img-fluid share_ic"/></div>
                        <div>
                          <a href="{{activePraposerNumber?.coi}}">
                          <button type="button" class="btn btn-primary dwl theme-button">
                            
                              <img src="assets/img/download-white.svg"/> Download Policy
                                                     
                          </button>
                        </a>  
                        </div>
                      </div>
                    </div>
              
                  </div>
                  <div class="lb-bg">
                    <div class="row">
                      <div class="col-lg-3 col-3 cv">
                        <h5>Total Premium</h5>
                        <p>₹ {{activePraposerNumber?.total_premium}}</p>
                      </div>
                      <div class="col-lg-3 col-3 iv">
                        <h5>Next Premium On</h5>
                        <p>08 Oct, 2020</p>
                      </div>
                      <div class="col-lg-3 col-3 iv">
                        <h5>Start Date</h5>
                        <p>{{activePraposerNumber?.start_date}}</p>
                      </div>
                      <div class="col-lg-3 col-3 gl">
                        <h5>End Date</h5>
                        <p>{{activePraposerNumber?.expiry_date}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
  
            <!--desktop tabs-->
            <div class="d-lg-block d-md-block d-sm-block">
              <ul class="nav nav-tabs pt-select pt-3" role="tablist">
                <li class="nav-item col-lg-4 col-md-4 col-4" role="presentation">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#intval"
                    type="button" role="tab" aria-controls="intval" aria-selected="true">
                    Policy Details
                  </button>
                </li>
                <li class="nav-item col-lg-4 col-md-4 col-4" role="presentation">
                  <button class="nav-link myins" data-bs-toggle="tab" data-bs-target="#myins"
                    type="button" role="tab" aria-controls="myins" aria-selected="false">
                    Insured Members
                  </button>
                </li>
                <li class="nav-item col-lg-4 col-md-4 col-4 mt4-mob" role="presentation">
                  <button class="nav-link myloans" data-bs-toggle="tab" data-bs-target="#myloans"
                    type="button" role="tab" aria-controls="myloans" aria-selected="false">
                    Nominee
                  </button>
                </li>
              </ul>
  
  
              <div class="">
                <div class="tab-content mt-2 insurance-summary" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="intval" role="tabpanel"
                    aria-labelledby="nav-home-tab">
                 <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <p>Proposal no</p>
                    <h5>{{policyDetailsList?.proposal_no}}</h5>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <p>Ref_no</p>
                    <h5>{{policyDetailsList?.ref_no}}</h5>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <p>Policy no</p>
                    <h5>{{policyDetailsList?.policy_no}}</h5>
                  </div>
                  <!-- <div class="col-lg-6 col-md-6">
                    <p>Policy Id</p>
                    <h5>{{policyDetailsList?.policy_no}}</h5>
                  </div> -->
                  <div class="col-lg-6 col-md-6">
                    <p>Address</p>
                    <h5>{{policyDetailsList?.address?.area}}</h5>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <p>State</p>
                    <h5>{{policyDetailsList?.address?.state}}</h5>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <p>Zipcode</p>
                    <h5>{{policyDetailsList?.address?.zipcode}}</h5>
                  </div>
                 </div>
                  </div>
                  <div class="tab-pane fade" id="myins" role="tabpanel"
                    aria-labelledby="nav-profile-tab">
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Proposer Detail
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <div class="row">
                              <div class="col-lg-6 col-md-6">
                                <p>First Name</p>
                                <h5>{{praposerDetails?.first_name}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Last Name</p>
                                <h5>{{praposerDetails?.last_name}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Phone no</p>
                                <h5>{{praposerDetails?.mobile_no}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>alternate mobile no</p>
                                <h5>{{praposerDetails?.alternative_mobile_no}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Email Id</p>
                                <h5>{{praposerDetails?.email}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Age</p>
                                <h5>ddcba3a44</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Date of Birth</p>
                                <h5>{{praposerDetails?.dob}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Gender</p>
                                <h5>{{praposerDetails?.gender}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Occupation</p>
                                <h5>{{praposerDetails?.occupation}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Weight</p>
                                <h5>{{praposerDetails?.weight}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Applicant Address 1 </p>
                                <h5>{{praposerDetails?.address1}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Applicant Address 2 </p>
                                <h5>{{praposerDetails?.address2}}</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           Family Member Detail
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body" *ngFor="let member of memberlist">
                            <div class="row" *ngIf="member?.relation != 'Self'">
                              <!-- <div class="col-lg-12 col-md-12">
                                <h4 class="h2relation mb-3">{{member?.relation}}</h4>
                              </div> -->
                <div class="col-lg-9 col-7">
                <h4 class="breadcrumb-title"><span class="hidden-lg me-2"><img src="assets/img/back-router.svg" alt="" class="back-arrow"></span>{{member?.relation}}</h4>
              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>First Name</p>
                                <h5>{{member?.first_name}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Last Name</p>
                                <h5>{{member?.last_name}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Phone no</p>
                                <h5>{{member?.mobile_no}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Email Id</p>
                                <h5>{{member?.email}}</h5>
                              </div>
                              <!-- <div class="col-lg-6 col-md-6">
                                <p>Age</p>
                                <h5>ddcba3a44</h5>
                              </div> -->
                              <div class="col-lg-6 col-md-6">
                                <p>Date of Birth</p>
                                <h5>{{member?.dob}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Gender</p>
                                <h5>{{member?.gender}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Occupation</p>
                                <h5>{{member?.occupation}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Weight</p>
                                <h5>{{member?.weight}}</h5>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <p>Height</p>
                                <h5>{{member?.height}}</h5>
                              </div>
                              <!-- <div class="col-lg-6 col-md-6">
                                <p>Id</p>
                                <h5>ddcba3a44</h5>
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
  
                    </div>
                  </div>
                  <div class="tab-pane fade" id="myloans" role="tabpanel"
                    aria-labelledby="nav-contact-tab">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <p>First Name</p>
                        <h5>{{nomineelist?.first_name}}</h5>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <p>Last Name</p>
                        <h5>{{nomineelist?.last_name}}</h5>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <p>Age</p>
                        <h5>{{age}}</h5>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <p>Date of Birth</p>
                        <h5>{{nomineelist?.dob}}</h5>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <p>Gender</p>
                        <h5>{{nomineelist?.gender}}</h5>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <p>Relationship</p>
                        <h5>{{nomineelist?.relationship}}</h5>
                      </div>
                    </div>
  
  
                  </div>
                </div>
              </div>
            </div>
  
  
  
          </div>
        </div>
      </div>
    </div>
  </div>
  