.breadcrumb-title {
    color: #465A65;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
  }
  
  .tab-detail .breadcrumb-title {
    margin-bottom: 0px;
    font-size: 24px;
  }
  
  .mb10per {
    margin-bottom: 10%;
  }
  
  .i-icon {
    color: #4c616b;
    font-size: 27px;
  }
  
  .breadcrumb-title::after {
    content: '';
    border-bottom: 3px solid #e27e28;
    width: 50px;
    position: absolute;
    left: 0;
    bottom: 5px;
  }
  
  .breadcrumb-sub {
    font-size: 18px;
    line-height: 30px;
    color: #222222;
  }
  
  .uploaded-pic {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .uploaded-pic img {
    width: 80px;
    border-radius: 50px;
    margin-right: 10px;
  }
  
  .uploaded-pic p {
    margin-bottom: 0px;
    font-size: 14px;
  }
  
  .port-row {
    margin-bottom: 10px;
  }
  
  .upload-btn {
    padding: 10px;
    color: #E27E28 !important;
    font-weight: 500;
    background-color: transparent;
    border-color: #E27E28;
    border-radius: 12px;
    font-size: 16px !important;
  }
  
  .form-floating>.form-control {
    border: 1px solid #D4DEE3;
    border-radius: 8px;
  }
  
  .form-floating>label {
    color: #858585;
  }
  
  .form-floating>.form-control:-webkit-autofill~label {
    opacity: 0.9;
  }
  
  .form-floating>.form-control,
  .form-floating>.form-select {
    height: calc(3rem + 5px);
    line-height: 1.25;
  }
  
  .country-drop {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    font-size: 14px;
    text-align: center;
    background-color: #D4DEE3;
    color: #465A65;
    font-weight: 600;
    height: 53px;
    border-radius: 8px 0px 0px 8px;
    border-right: 0px;
  }
  
  .mobile-input input {
    border-radius: 0px 8px 8px 0px !important;
  }
  
  .m-div {
    border-radius: 8px 0px 0px 8px;
    padding: 12px;
    border: 1px solid #d4dee3;
    color: #858585;
    padding-right: 0px !important;
    text-align: center;
    background: #fff;
    border-right: 0px;
    cursor: pointer;
  }
  
  .f-div {
    border-radius: 0px;
    padding: 12px;
    border: 1px solid #d4dee3;
    color: #858585;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
    background: #fff;
    border-left: 0px;
    border-right: 0px;
    cursor: pointer;
  }
  
  .o-div {
    border-radius: 0px 8px 8px 0px;
    padding: 12px;
    border: 1px solid #d4dee3;
    color: #858585;
    padding-right: 0px !important;
    text-align: center;
    background: #fff;
    border-left: 0px;
    cursor: pointer;
  }
  
  .form-check-label {
    font-size: 18px;
  }
  
  .form-check-label span {
    color: #00a3b1;
  }
  
  .form-scroll {
    max-height: 830px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .form-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .form-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  
  .activetxt {
    color: #00A3B1;
    border: 1px solid #00A3B1;
    background: #e5f5f7;
  }
  
  .dotted-button{
    padding: 10px;
    color: #E27E28;
    font-weight: 600;
    background-color: transparent;
    width: 150px;
    height: 70px;
    border-color: #E27E28;
    border-radius: 8px;
    font-size: 16px !important;
    text-align: center;
    cursor: pointer;
    border: 1px dashed #E27E28;
  }
  
  .bank-card{
    background: #fff;
    padding: 0.75rem;
    border-radius: 8px;
  }
  .bank-card-header{
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .bank-card-header img{
    margin-right: 8px;
    width: 45px;
  }
  .bank-card-header h5{
    font-size: 16px;
    margin-bottom: 0px;
    color: #222222;
    font-weight: 600;
  }
  .bank-card-header span{
    font-size: 12px;
    background-color: #E27E2B29;
    color: #E27E2B;
    border: 1px solid #E27E2B;
    margin-bottom: 0px;
    margin-right: 10px;
    position: relative;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .bank-card-body h5{
    color: #555555;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 3px;
  }
  .bank-card-body h3{
    color: #222222;
    font-size: 14px;
    font-weight: 600;
  }
  .bank-card-body .grey-box{
    background-color: #d4dee350;
    border-radius: 8px;
    padding: 0.75rem;
  }
  .bank-card a{
    color: #0074DB;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
  }
  .breadcrumb-title {
    color: #465A65;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
  }
  
  .tab-detail .breadcrumb-title {
    margin-bottom: 0px;
    font-size: 24px;
    display: flex;
  }
  
  .mb10per {
    margin-bottom: 10%;
  }
  
  .i-icon {
    color: #4c616b;
    font-size: 27px;
  }
  
  .breadcrumb-title::after {
    content: '';
    border-bottom: 3px solid #e27e28;
    width: 50px;
    position: absolute;
    left: 0;
    bottom: 5px;
  }
  
  .breadcrumb-sub {
    font-size: 18px;
    line-height: 30px;
    color: #222222;
  }
  
  .uploaded-pic {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .uploaded-pic img {
    width: 80px;
    border-radius: 50px;
    margin-right: 10px;
  }
  
  .uploaded-pic p {
    margin-bottom: 0px;
    font-size: 14px;
  }
  
  .port-row {
    margin-bottom: 10px;
  }
  
  .upload-btn {
    padding: 10px;
    color: #E27E28 !important;
    font-weight: 500;
    background-color: transparent;
    border-color: #E27E28;
    border-radius: 12px;
    font-size: 16px !important;
  }
  
  .form-floating>.form-control {
    border: 1px solid #D4DEE3;
    border-radius: 8px;
  }
  
  .form-floating>label {
    color: #858585;
  }
  
  .form-floating>.form-control:-webkit-autofill~label {
    opacity: 0.9;
  }
  
  .form-floating>.form-control,
  .form-floating>.form-select {
    height: calc(3rem + 5px);
    line-height: 1.25;
  }
  
  .country-drop {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    font-size: 14px;
    text-align: center;
    background-color: #D4DEE3;
    color: #465A65;
    font-weight: 600;
    height: 53px;
    border-radius: 8px 0px 0px 8px;
    border-right: 0px;
  }
  
  .mobile-input input {
    border-radius: 0px 8px 8px 0px !important;
  }
  
  .m-div {
    border-radius: 8px 0px 0px 8px;
    padding: 12px;
    border: 1px solid #d4dee3;
    color: #858585;
    padding-right: 0px !important;
    text-align: center;
    background: #fff;
    border-right: 0px;
    cursor: pointer;
  }
  
  .f-div {
    border-radius: 0px;
    padding: 12px;
    border: 1px solid #d4dee3;
    color: #858585;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
    background: #fff;
    border-left: 0px;
    border-right: 0px;
    cursor: pointer;
  }
  
  .o-div {
    border-radius: 0px 8px 8px 0px;
    padding: 12px;
    border: 1px solid #d4dee3;
    color: #858585;
    padding-right: 0px !important;
    text-align: center;
    background: #fff;
    border-left: 0px;
    cursor: pointer;
  }
  
  .form-check-label {
    font-size: 18px;
  }
  
  .form-check-label span {
    color: #00a3b1;
  }
  
  .form-scroll {
    max-height: 830px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .form-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .form-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  
  .activetxt {
    color: #00A3B1;
    border: 1px solid #00A3B1;
    background: #e5f5f7;
  }
  
  .dotted-button{
    padding: 10px;
    color: #E27E28;
    font-weight: 600;
    background-color: transparent;
    width: 150px;
    height: 70px;
    border-color: #E27E28;
    border-radius: 8px;
    font-size: 16px !important;
    text-align: center;
    cursor: pointer;
    border: 1px dashed #E27E28;
  }
  
  .empty-section h5{
    color: #465A65;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    position: relative;
  }

  .empty-section h5::after {
    content: '';
    border-bottom: 3px solid #e27e28;
    width: 50px;
    position: absolute;
    left: 0;
    bottom: 5px;
}

.empty-section p{
  color: #222222;
  font-size: 16px;
  font-weight: 400;
}

.empty-section img{
  height: 18rem;
}

#accountTab {
  background: #fff;
  border: 1px solid #D4DEE3;
  width: 100%;
  border-radius: 8px;
  margin: auto;
}

#accountTab.nav-tabs .nav-link {
  color: #B4B4B4;
  padding: 0.75rem;
  border: none;
  width: 100%;
  margin: 0.2rem;
}

#accountTab.nav-tabs li {
  width: 49%;
}

#accountTab .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #00A3B1 !important;
  background-color: #00A3B152;
  border: none;
  font-weight: 600;
}

#set-as-default .modal-md{
  max-width: 350px;
}

#set-as-default h5{
  color: #465A65;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 22px;
  line-height: 1.4;
  margin-top: 1rem;
  text-align: center;
}

#set-as-default .cancel-btn{
  color: #F54B4B;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  background-color: transparent !important;
  width: 150px;
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: 16px!important;
  text-align: center;
  }

  @media (min-width: 1400px) {
    #set-as-default .cancel-btn {
      padding: 13px !important;
      width: 170px !important;
    }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    .bank-detail img{
      width: 65%!important;
      margin-bottom: 30px;
    }
  }