<div class="container mb10per">
  <div class="row mt-4">
    <div class="col-lg-12">
      <h4 class="breadcrumb-title"><span [routerLink]="['/dashboard']"><i
            class="fa fa-arrow-left i-icon"></i></span>Account Details</h4>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-3 col-md-4 hidden-xs" id="sidebar-main">
      <app-account-desktop-menu></app-account-desktop-menu>
    </div>

    <div class="col-lg-9 col-md-8 tab-detail" *ngIf="BankDetailsList.length < 1 && !AddBankAccount">
      <div class="row align-items-center port-row">
        <div class="col-lg-12 col-12">
          <h4 class="breadcrumb-title"><span class="hidden-lg me-2">
              <img src="assets/img/back-router.svg" alt="" class="back-arrow"></span>Bank Details
          </h4>
        </div>
      </div>
      <div class="row align-items-center empty-section">
        <div class="col-lg-6 col-12 bank-detail">
          <img src="assets/img/add_bank_illustration.svg" />
        </div>
        <div class="col-lg-6 col-12">
          <h5>No Bank Accounts</h5>
          <p>You have not added any banks accounts to your profile, Add accounts to easy transactions.</p>
          <button type="button" class="btn theme-button me-2 w-auto" (click)="AddBankAccount = true">+Add Bank
            Account</button>
        </div>
      </div>
    </div>


    <div class="col-lg-9 col-md-8 tab-detail" *ngIf="BankDetailsList.length > 0 && !AddBankAccount">
      <div class="row align-items-center port-row">
        <div class="col-lg-6 col-12">
          <h4 class="breadcrumb-title"><span class="hidden-lg me-2">
              <img src="assets/img/back-router.svg" alt="" class="back-arrow"></span>Bank Details
          </h4>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-end">
          <div class="hidden-xs">
            <button type="button" class="btn btn-primary upload-btn me-2" (click)="AddBankAccount = true">+Add Bank
              Account</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6" *ngFor="let bank of BankDetailsList;let i=index;">
          <div class="bank-card mb-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="bank-card-header ms-2">
                <div>
                  <img src="assets/img/kotak_bank2.png" />
                </div>
                <div class="bank">
                  <h5>{{bank?.bank_name}}</h5>
                  <span *ngIf="bank?.primary_account == true">Primary Account</span>
                  <!-- <p *ngIf="bank?.primary_account == false" (click)="MakePrimaryBank(bank?.id,i)">Make Primary Account</p> -->
                </div>
              </div>
              <a *ngIf="bank?.primary_account == false" class="cursor-pointer" (click)="OpenModal(bank?.id,i)">Set as
                Default</a>
            </div>
            <div class="bank-card-body mt-3">
              <div class="ms-2">
                <h5>Account holder name</h5>
                <h3>{{bank?.account_holder_name}}</h3>
              </div>
              <div class="grey-box">
                <div class="row">
                  <div class="col-6">
                    <h5>Account Number</h5>
                    <h3>{{bank?.account_number}}</h3>
                  </div>
                  <div class="col-6">
                    <h5>IFSC Code</h5>
                    <h3>{{bank?.IFSC_name}}</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <h5>Account Type</h5>
                    <h3 class="mb-0">{{bank?.account_type}}</h3>
                  </div>
                  <div class="col-6">
                    <h5>Branch</h5>
                    <h3 class="mb-0">{{bank?.branch_name}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-9 col-md-8 tab-detail" *ngIf="AddBankAccount">
      <div class="row align-items-center port-row">
        <div class="col-12 ">
          <h4 class="breadcrumb-title">Default Bank Mandate</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-floating mb-3 input-box ">
            <input type="text" id="accountnumber" placeholder="Account Number" class="form-control" maxlength="16"
              [(ngModel)]="AccountNumber" (keypress)="validation.numberOnly($event)">
            <label for="accountnumber">Account Number</label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-floating mb-3 input-box ">
            <input type="text" id="accountholdersname" placeholder="Account Holders Name" class="form-control"
              [(ngModel)]="AccountHoldersName">
            <label for="accountholdersname">Account Holders Name</label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-floating mb-3 input-box ">
            <input type="text" id="bankname" placeholder="Bank Name" class="form-control" [(ngModel)]="BankName">
            <label for="bankname">Bank Name</label>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-floating mb-3 input-box ">
            <input type="text" id="ifsc" placeholder="IFSC Code" class="form-control" [(ngModel)]="IFSCCode"
              maxlength="11" (ngModelChange)="IFSCCode = $event.toUpperCase()">
            <label for="ifsc">IFSC Code</label>
          </div>
        </div>
        <div class="col-lg-6">
          <ul class="nav nav-tabs mb-3" id="accountTab">
            <li class="nav-item">
              <button class="nav-link" [ngClass]="AccountType == 'Savings' ? 'active' :''"
                (click)="AccountType = 'Savings'">Savings</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" [ngClass]="AccountType == 'Current' ? 'active' :''"
                (click)="AccountType = 'Current'">Current</button>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="form-floating mb-3 input-box ">
            <input type="text" id="Branch" placeholder="IFSC Code" class="form-control" [(ngModel)]="Branch">
            <label for="ifsc">Branch</label>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-6 offset-lg-3">
          <button type="button" class="btn btn-primary theme-button mb-3 w-100" (click)="AddBankDetails()">Save
            Changes</button>
        </div>
      </div>
    </div>



  </div>
</div>


<div class="modal fade" id="set-as-default" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row justify-content-center">
          <h5>Are you sure you want to <br> make this account as primary?</h5>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-primary cancel-btn me-2" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn theme-button ms-2" (click)="MakePrimaryBank()">Yes</button>
      </div>
    </div>
  </div>
</div>