#headerotp-screen .modal-content, #Footerotp-screen .modal-content{
  border-radius: 12px;
}
#headerotp-screen .btn-close, #Footerotp-screen .btn-close{
  position: absolute;
  right: 3%;
  top: 3%;
}
#headerotp-screen .modal-body, #Footerotp-screen .modal-body{
padding: 1.5rem;
}
#headerotp-screen .otp-title, #Footerotp-screen .otp-title{
  color: #465A65;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 20px;
}
#headerotp-screen .otp-text, #Footerotp-screen .otp-text{
  color: #222222;
  margin-bottom: 20px;
}
#headerotp-screen .link-text, #Footerotp-screen .link-text{
  color: #00A0AD;
  text-decoration: underline;
  cursor: pointer;
}
#headerotp-screen .otp-field, #Footerotp-screen .otp-field{
  border: 1px solid #858585;
  border-radius: 8px;
  height: 60px;
  color: #00A0AD;
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}
#headerotp-screen .pr-btn, #Footerotp-screen .pr-btn{
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #b4b4b4;
  margin-top: 10px;
}
#headerotp-screen .otp-cancel, #Footerotp-screen .otp-cancel{
  color: #F54B4B;
  font-weight: 600;
  font-size: 18px;
  background: transparent;
  border: 0;
}
#headerotp-screen .otp-bottomtext, #Footerotp-screen .otp-bottomtext{
  color: #222222;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}
.headphone {
  position: fixed;
  right: 1rem;
  bottom: 10vh;
  z-index: 9;
}

.transper-btn {
  padding: 10px;
  line-height: 14px;
  color: #E27E28 !important;
  font-weight: 500;
  background-color: transparent;
  width: 150px;
  margin-top: 5px;
  border-color: #E27E28;
  border-radius: 12px;
  font-size: 14px !important;
}

.headphone .btn {
  box-shadow: none;
}

.headphone img.headphone-icon {
  right: 0;
  position: absolute;
}

.headphone img.icon {
  height: 20px;
  width: 20px;
  margin-right: 0.5rem;
}

.headphone ul {
  margin-top: -11rem !important;
}

.headphone ul::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 30px;
  bottom: -14px;
  margin-top: -3px;
  border-width: 14px 14px 0px 14px;
  border-style: solid;
  border-color: #fff transparent;
  /* box-shadow:0px 4px 8px #00000029; */
}

.sort-by.dropdown-menu {
  border-radius: 12px;
  box-shadow: 0px 4px 8px #00000029;
}

.sort-position .dropdown-toggle::after {
  display: none
}
.up-in-toggle {
  padding: 5px 5px;
  border: 1px solid #00A3B1;
  border-radius: 8px;
  margin-bottom: 10px;
}

.up-in-toggle input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.up-in-toggle input:checked+label {
  background: #bfe6ec;
  color: #00A3B1;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: none;

}

.up-in-toggle label {
  display: inline-block;
  width: 49%;
  background-color: transparent;
  color: #b3b3b3;
  text-align: center;
  font-size: 14px;
  padding: 10px 5px;
  transition: all 0.1s ease-in-out;
}

.up-in-toggle label:hover {
  cursor: pointer;
}
.insurance{
  position:relative;
  left:50px;
}



/* added by sw for cust,part mobile view */
.modalpartnerbtn {
	/* margin-left: 150px; */
	/* margin-top: 5px; */
  /* width: 100%; */
  /* position: relative;
  top: 10px; */
	/* width: 60% !important; */
  /* max-width: 210px !important; */
  margin: 10px 0px;
}
/* added by sw for cust,part mobile view */


@media (min-width: 576px){
#headerotp-screen .modal-dialog , #Footerotp-screen .modal-dialog{
  max-width: 400px;
}
#headerotp-screen .modal-body .col-2, #Footerotp-screen .modal-body .col-2{
  padding-right: 0px;
} 
}
/* Chrome, Safari, Edge, Opera */
#headerotp-screen input::-webkit-outer-spin-button,
#headerotp-screen input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

#Footerotp-screen input::-webkit-outer-spin-button,
#Footerotp-screen input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
#headerotp-screen input[type=number] {
-moz-appearance: textfield;
}
#Footerotp-screen input[type=number] {
  -moz-appearance: textfield;
  }

@media only screen and (max-width:767px){
  #headerotp-screen .otp-text, #Footerotp-screen .otp-text {
    font-size: 14px;
}
.headphone {
  bottom: 17vh;
}
#mob_signup .modal-dialog {
  margin: 0;
  display: flex;
  height: 100vh;
  max-width: 100%;
  align-items: end;
} 
#mob_signup .modal-content {
border-radius: 18px 18px 0px 0px;
}
#mob_signup .modal-body {
padding: 1.5rem 1.5rem 0;
}

#mob_signin .modal-dialog {
margin: 0;
display: flex;
height: 100vh;
max-width: 100%;
align-items: end;
} 
#mob_signin .modal-content {
border-radius: 18px 18px 0px 0px;
}
#mob_signin .modal-body {
padding: 1.5rem 1.5rem 0;
}


 /* added by sw for cust,part mobile view */
 #mob_signin .theme-button, #mob_signup .theme-button {
  width: 100%;
  padding: 10px 20px;
  margin-top: 15px;
}
/* added by sw for cust,part mobile view */


#headerotp-screen .col-2, #Footerotp-screen .col-2{
  padding-left: 5px;
  padding-right: 5px;
}
}