<div class="container pt-30">
    <div class="row">
        <div class="col-lg-6"  id="sidebar-main">
            <div class="left-sidebar" id="sidebar">
            <img src="assets/img/tools/Calculator_sip.svg" class="main-img" alt="main-img">
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="main-title mb-4">SIP Calculator</h3>
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8 col-7">
                    <h4 class="sub-title">Select Duration (in years)</h4>
                </div>
                <div class="col-lg-4 col-md-4 col-5 pos-rel">
                    <input type="text" class="form-control input-wd" [(ngModel)]="value11" (change)="GetSIP()"/>
                    <span class="input-yr">Years</span>
                </div>  
             </div>
             <div class="row">
                <div class="custom-slider">
                     <ngx-slider [(value)]="value11" (userChange)="GetSIP()" [options]="options11"></ngx-slider>
                </div>
             </div>

             <div class="row align-items-center mt-5">
                <div class="col-8">
                    <h4 class="sub-title">SIP Amount</h4>
                </div>
                <div class="col-4 pos-rel">
                    <input type="text" class="form-control input-wdr" [(ngModel)]="value12" (change)="slidervalue12=value12;GetSIP();" (keypress)="validation.DesimalOnly($event,''+value13)"/>
                    <span class="input-rupee"><i class="fa fa-rupee-sign"></i></span>
                </div>  
             </div>
             <div class="row">
                <div class="custom-slider">
                     <ngx-slider [(value)]="slidervalue12" (userChange)="GetSIP()" [options]="options12" (mouseup)="value12=slidervalue12"></ngx-slider>
                </div>
             </div>
            <div class="row mt-5 radio-click">
                <ul>
                    <li>
                      <input type="radio" id="f-option" name="selector" [value]="'1'" [(ngModel)]="investmentMode" (click)="investmentMode='1';GetSIP()">
                      <label for="f-option">Monthly</label>                      
                      <div class="check"></div>
                    </li>
                    
                    <li>
                      <input type="radio" id="s-option" name="selector" [value]="'2'" [(ngModel)]="investmentMode" (click)="investmentMode='2';GetSIP()">
                      <label for="s-option">Quarterly</label>
                      
                      <div class="check"><div class="inside"></div></div>
                    </li>
                    </ul>
            </div>


             <div class="row align-items-center mt-4">
                <div class="col-8">
                    <h4 class="sub-title">Expected rate of return</h4>
                </div>
                <div class="col-4 pos-rel">
                    <input type="text" class="form-control input-wdr" [(ngModel)]="value13"  (change)="Slidervalue13=value13;GetSIP();" (keypress)="validation.DesimalOnly($event,''+value13)"/>
                    
                </div>  
             </div>
             <div class="row">
                <div class="custom-slider">
                     <ngx-slider [(value)]="Slidervalue13" (userChange)="GetSIP()" [options]="options13" (mouseup)="value13=Slidervalue13"></ngx-slider>
                </div>
             </div>

             
             <div class="row align-items-center mt-5">
                <div class="col-8">
                    <h4 class="sub-title">Rate of inflation</h4>
                </div>
                <div class="col-4 pos-rel">
                    <input type="text" class="form-control input-wdr" [(ngModel)]="value14" (change)="Slidervalue14=value14;GetSIP();" (keypress)="validation.DesimalOnly($event,''+value14)"/>
                    
                </div>  
             </div>
             <div class="row">
                <div class="custom-slider">
                     <ngx-slider [(value)]="Slidervalue14" (userChange)="GetSIP()" [options]="options14" (mouseup)="value14=Slidervalue14"></ngx-slider>
                </div>
             </div>


            <div class="row calculate-box mt-5">
                <div class="col-lg-12">
                  <h5>Your SIP investement of <span>₹ {{validation.amountWithLakhComma(''+ResponseData.inflatedInvestmentAmount)}}</span> will yield</h5>
                </div>
                <div class="col-lg-12">
                    <h4> ₹ {{validation.amountWithLakhComma(''+ResponseData.futureValueOfInvestment)}}</h4>            
                </div>
                <div class="col-lg-12">
                 <p>after <span>{{value11}}</span> years with <span>{{value13}}%</span> return per annum</p>
                </div>
            </div>

        </div>
    </div>
</div>