

<div class="container pt-30">
    <div class="row">
        <div class="col-lg-6" id="sidebar-main">
          <div class="left-sidebar" id="sidebar">
            <img src="assets/img/tools/Crypto_portfolio.svg" class="main-img" alt="main-img">
          </div>
        </div>
        <div class="col-lg-6">
            <h3 class="main-title">EMI Calculator</h3>

            <nav class="custom-tabs">
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                  <a class="nav-link l-tab" [ngClass]="category=='1'?'active':''" (click)="changeCategory('1')" data-bs-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Personal Loan</a>
                  <a class="nav-link c-tab" [ngClass]="category=='2'?'active':''" (click)="changeCategory('2')" data-bs-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">Home Loan</a>
                  <a class="nav-link r-tab" [ngClass]="category=='3'?'active':''" (click)="changeCategory('3')" data-bs-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Business Loan</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="personal-loan" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="row">
                     <h4 class="sub-title">Amount you need</h4>
                     <div class="custom-slider">
                        <!-- <ngx-slider class="slider" [(value)]="PriceRangeMinValue" [(highValue)] ="PriceRangeMaxValue" [options]="options"></ngx-slider> -->
                        <input type="text" (change)="Slidervalue1=value1;getEMICalculation()" class="form-control" [(ngModel)]="value1" (keypress)="validation.numberOnly($event)"/>
                        <ngx-slider [(value)]="Slidervalue1" (mouseup)="value1=Slidervalue1" (userChange)="getEMICalculation()" [options]="options1"></ngx-slider>
                     </div>
                  </div>
                  <div class="row">
                    <h4 class="sub-title">For how many years</h4>
                    <div class="custom-slider">                     
                       <ngx-slider [(value)]="value2" (userChange)="getEMICalculation()" [options]="options2"></ngx-slider>
                    </div>
                 </div>
                 <div class="row">
                    <h4 class="sub-title">Interest Rate</h4>
                    <div class="custom-slider">                      
                       <input type="text" class="form-control" (change)="Slidervalue3=value3;getEMICalculation()" [(ngModel)]="value3" (keypress)="validation.DesimalOnly($event,''+value3)"/> 
                       <ngx-slider [(value)]="Slidervalue3" (mouseup)="value3=Slidervalue3" (userChange)="getEMICalculation()" [options]="options3"></ngx-slider>
                    </div>
                 </div>
                  <div class="row calculate-box">
                   <div class="col-lg-4 col-4">
                     <h5>Loan EMI</h5>
                     <p>Per Month</p>
                     <h4><i class="fa fa-rupee-sign"></i> {{returnvaluewithcomma(EmiResponse?.emi)}}</h4>
                   </div>
                   <div class="col-lg-4 col-4 br-l-r">
                    <h5 class="mb-15">Total Interest <br/>Payable</h5>
                    <h4><i class="fa fa-rupee-sign"></i> {{returnvaluewithcomma(EmiResponse?.interestAmt)}}</h4>
                   </div>
                   <div class="col-lg-4 col-4">
                    <h5>Total Payment</h5>
                    <p>(Principal + Interest)</p>
                    <h4><i class="fa fa-rupee-sign"></i> {{returnvaluewithcomma(EmiResponse?.principleAndAmt)}}</h4>
                   </div>
                  </div>

                  <div class="row break-up">
                    <h5>Break up of total payment</h5>
                    <div class="col-6 ps-0">
                        <p>Principal Loan Amount</p>
                    </div>
                    <div class="col-6 text-end pe-0">
                        <p>Total Interest Amount</p>
                    </div>
                    <div class="interest-amount">
                        <span>{{getTheInterestPercent()}}%</span>
                        <div class="principal-amonut" [style.width.%]="getThePrinciplePercent()" >
                            <span>{{getThePrinciplePercent()}}%</span>
                        </div>
                    </div>
                  </div>
                  <div class="row calculate-btn">
                    <button type="button" class="btn btn-primary transparent-button me-3" (click)="resetFields()"><span class="me-2"><img src="assets/img/tools/reset.svg"></span> Reset </button>
                    <button type="button" class="btn btn-primary theme-button" (click)="applyForLoan()">Apply For Loan <span class="ms-2"><img src="assets/img/tools/next.svg"></span></button>
                  </div>

                </div>
              </div>
        </div>
    </div>
</div>
