

<!-- modal part latest-->
<div class="modal fade" id="supportModal" tabindex="-1" role="dialog" aria-labelledby="supportModallLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="closeicon">
        <button type="button" class="close" (click)="hideSupportModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">


        <div class="support-title">Get Additional Support</div>
        <!-- <div class="container"> -->
        <form [formGroup]="myForm">
          <div class="details">

            <div class="up-in-toggle">
              <input type="radio" id="switch_left" formControlName="category" value="INSURANCE" />
              <label for="switch_left">INSURANCE</label>
              <input type="radio" id="switch_right" formControlName="category" value="INVESTMENT" />
              <label for="switch_right">INVESTMENT</label>

            </div>
            <div *ngIf="myForm.controls['category'].invalid && (myForm.controls['category'].touched || isSubmitted)"
              class="text-danger">
              Pleae select the option* </div>


            <div class="mb-3">
              <label for="name">Name</label>
              <input type="text" formControlName="Name" class="form-control" name="Name" placeholder="Enter Name"
                class="form-control">

              <div *ngIf="myForm.controls['Name'].invalid && (myForm.controls['Name'].touched || isSubmitted)"
                class="text-danger">
                Please enter a valid name (3-15 characters, only letters and spaces allowed)
              </div>
            </div>

            <div class="mb-3">
              <label for="name">Email</label>
              <input type="text" formControlName="Email" class="form-control" name="Email" placeholder="Enter Email"
                class="form-control">
              <div *ngIf="myForm.controls['Email'].invalid && (myForm.controls['Email'].touched || isSubmitted)"
                class="text-danger">
                Please enter a valid email address
              </div>
            </div>

            <div class="mb-3">
              <label for="name">Phone</label>
              <input type="text" formControlName="mobileNumber" class="form-control" name="mobileNumber"
                placeholder="Enter Phone" class="form-control" maxlength='10'>
              <div
                *ngIf="myForm.controls['mobileNumber'].invalid && (myForm.controls['mobileNumber'].touched || isSubmitted)"
                class="text-danger">
                Please enter a valid 10-digit mobile number starting with 6-9
              </div>
            </div>

            <div class="mb-3 comments">
              <label for="name">comments</label>
              <textarea type="text" formControlName="Comments" class="form-control" name="Comments"
                placeholder="Enter comments" class="form-control"></textarea>
              <div *ngIf="myForm.controls['Comments'].invalid && (myForm.controls['Comments'].touched || isSubmitted)"
                class="text-danger">
                Comments are required*
              </div>
            </div>
            <div class="mb-3 center ">
              <button class="btn btn-primary theme-button submit" (click)="Submit()">SUBMIT</button>
            </div>
          </div>
          <div *ngIf="successMessage" class="alert alert-success">
            Form submitted successfully!
          </div>

        </form>
      </div>

    </div>
  </div>
</div>