<!-- <div id="support-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Support</h2>
    <p>Enter your details below to get support:</p>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email"><br><br>
      <label for="message">Message:</label>
      <textarea id="message" name="message"></textarea><br><br>
      <button type="submit">Submit</button>
    </form>
  </div>
</div> -->
<!-- <p>support works</p> -->
<!-- partner button -->
<!-- <div class="col-lg-3 col-12 col-sm-3">
  <button class="nav-link btn btn-primary theme-button partnerbtn" data-toggle="modal" data-target="#partnerModal"(click)="showPartnerModal()">PARTNER</button>
</div> -->





<!-- modal part latest-->
<div class="modal fade" id="supportModal" tabindex="-1" role="dialog" aria-labelledby="supportModallLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="closeicon">
        <button type="button" class="close" (click)="hideSupportModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">


        <div class="support-title">Get Additional Support</div>
        <!-- <div class="container"> -->
        <form [formGroup]="myForm">  
          <div class="details">
          
            <div class="up-in-toggle">
              <input type="radio" id="switch_left" formControlName="category" value="INSURANCE" />
              <label for="switch_left" >INSURANCE</label>
              <input type="radio" id="switch_right" formControlName="category" value="INVESTMENT" />
              <label for="switch_right" >INVESTMENT</label>
              
            </div>
            <div class="error" *ngIf="myForm.get('category')?.invalid && (myForm.get('category')?.dirty || myForm.get('category')?.touched)">
              <div *ngIf="myForm.get('category')?.hasError('required')">Pleae select the option</div>
            </div>
          
            <div class="mb-3">
              <label for="name">Name</label>
              <input type="text" formControlName="Name" class="form-control" name="Name" placeholder="Enter Name" >
              <div class="error" *ngIf="myForm.get('Name')?.invalid && (myForm.get('Name')?.dirty || myForm.get('Name')?.touched)">
                <div *ngIf="myForm.get('Name')?.hasError('required')">Name is required</div>
              </div>
            </div>
          
            <div class="mb-3">
              <label for="name">Email</label>
              <input type="text" formControlName="Email" class="form-control" name="Email" placeholder="Enter Email">
              <div class="error" *ngIf="myForm.get('Email')?.invalid && (myForm.get('Email')?.dirty || myForm.get('Email')?.touched)">
                <div *ngIf="myForm.get('Email')?.hasError('required')">Email is required</div>
              </div>
            </div>
          
            <div class="mb-3">
              <label for="name">Phone</label>
              <input type="text" formControlName="mobileNumber" class="form-control" name="mobileNumber"
                placeholder="Enter Phone">
              <div class="error"
                *ngIf="myForm.get('mobileNumber')?.invalid && (myForm.get('mobileNumber')?.dirty || myForm.get('mobileNumber')?.touched)">
                <div *ngIf="myForm.get('mobileNumber')?.hasError('required')">Phone is required</div>
              </div>
            </div>
          
            <div class="mb-3 comments">
              <label for="name">comments</label>
              <textarea type="text" formControlName="Comments" class="form-control" name="Comments"
                placeholder="Enter comments"></textarea>
              <div class="error"
                *ngIf="myForm.get('Comments')?.invalid && (myForm.get('Comments')?.dirty || myForm.get('Comments')?.touched)">
                <div *ngIf="myForm.get('Comments')?.hasError('required')">comments are required</div>
              </div>
            </div>
            <div class="mb-3 center ">
              <button class="btn btn-primary theme-button submit" (click)="Submit()">SUBMIT</button>
            </div>
          </div>
          <div *ngIf="successMessage" class="alert alert-success">
            Form submitted successfully!
          </div>
        
        </form>
      </div>
     
    </div>
    </div>
  </div>