<div class="container mb10per">
    <div class="row mt-4">
        <div class="col-lg-12">
            <h4 class="breadcrumb-title"><span [routerLink]="['/dashboard']"><i
                        class="fa fa-arrow-left i-icon"></i></span> &nbsp;Account Details</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-3 col-md-4" id="sidebar-main">
            <app-account-desktop-menu></app-account-desktop-menu>
        </div>
        <div class="col-lg-9 col-md-8 pd-right-div">
            <div class="row">
                <div class="col-sm-12 col-lg-6 p0-mob" *ngIf="!validation.isNullEmptyUndefined(SummaryDetails)">
                    <div class="main-div">
                        <div class="row outer-bg">
                            <div class="col-lg-1 col-1">
                                <i class="fa fa-arrow-left i-icon"></i>
                            </div>
                            <div class="col-lg-7 col-md-6 col-7">
                                <h5>Mutual Funds</h5>
                            </div>
                            <div class="col-lg-4 col-md-4 col-4">
                                <h6>Weights (%)</h6>
                                <p>{{SummaryDetails?.weightPercentage.toFixed()}}%</p>
                            </div>
                            <div class="col-lg-12">
                                <div class="border"></div>
                            </div>
                        </div>
                        <div class="lb-bg">
                            <div class="row">
                                <div class="col-lg-6 col-6">
                                    <h5>Current Value</h5>
                                    <p>₹ {{SummaryDetails?.totalCurrentValue}} Cr</p>
                                </div>
                                <div class="col-lg-6 col-6">
                                    <h5>Invested Value</h5>
                                    <p>₹ {{SummaryDetails?.totalInvestedAmount}} Cr</p>
                                </div>
                                <div class="col-lg-6 col-6 pt-4">
                                    <h5>IRR</h5>
                                    <p>{{SummaryDetails?.xirr}}%</p>
                                </div>
                                <div class="col-lg-6 col-6 pt-4 gl">
                                    <h5>Gain/Loss</h5>
                                    <p>₹ {{SummaryDetails?.absoluteProfitLoss}} Cr <span
                                            class="text-green">({{SummaryDetails?.percentageProfitLoss}}%)</span></p>
                                </div>
                                <div class="col-lg-6 col-6 pt-4">
                                    <h5>STCG</h5>
                                    <p>₹ {{SummaryDetails?.realizedShortTermCapitalGain}} L</p>
                                </div>
                                <div class="col-lg-6 col-6 pt-4">
                                    <h5>LTCG</h5>
                                    <p>₹ {{SummaryDetails?.realizedLongTermCapitalGain}} Cr</p>
                                </div>
                                <div class="col-lg-6 col-6 pt-4">
                                    <h5>Absolute Returns</h5>
                                    <p>{{SummaryDetails?.absoluteReturn}}%</p>
                                </div>
                                <div class="col-lg-6 col-6 pt-4">
                                    <h5>Annualized Returns</h5>
                                    <p>--</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p class="note-line">** Investment up by more than<span class="text-green"> 20%</span> since
                                investment</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 aa-div d-none d-lg-block d-md-block d-sm-block">
                    <h5>Asset Allocation</h5>
                    <img src="assets/img/honeycomb.svg" class="img-fluid">

                </div>
            </div>

            <div class="row mf-div">
                <ul class="nav nav-tabs" id="dashboardTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="invest-tab" data-bs-toggle="tab" data-bs-target="#myinvest"
                            type="button" role="tab" aria-controls="home" aria-selected="true">My Holdings</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="insure-tab" data-bs-toggle="tab" data-bs-target="#myinsure"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">Pending
                            Orders</button>
                    </li>
                </ul>

                <div class="tab-content tabscroll" id="dashTabContent">
                    <div class="tab-pane fade show active" id="myinvest" role="tabpanel" aria-labelledby="invest-tab">
                        <div class="row table-row"
                            *ngFor="let list of MyHoldings | paginate: { id: 'MyHoldingsPageIndex', itemsPerPage: 5, currentPage: MyHoldingsPageIndex }"
                            (click)="GoToFund(list,'1')">
                            <div class="col-lg-6 col-sm-7 ps-2 pe-2">
                                <div class="table-flex">
                                    <div class="bank-logo">
                                        <img src="assets/img/icici-bank.png" />
                                    </div>
                                    <div class="my-bank">
                                        <h5>{{list.instrumentName}}</h5>
                                        <p>
                                            <span>3 <i class="fa fa-star"></i></span>
                                            <span> {{list.instrumentCategoryName}}</span>
                                            <span> {{list.assetName}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-5 mb-bg-l col-6 ps-2 pe-2">
                                <div class="returns">
                                    <h5>Absolute Returns</h5>
                                    <p [ngClass]="list.absoluteReturn < 0 ? 'returns-red' : 'returns-green'"> ₹
                                        {{list.absoluteReturn}} <span>(+11.29%)</span></p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 mb-bg-r col-6 ps-2 pe-2">
                                <div class="invests">
                                    <h5>Total Investment</h5>
                                    <p>₹ {{list.totalInvestedAmount}}</p>
                                </div>
                            </div>
                            <!-- <div class="col-lg-1 col-sm-6 ps-2 pe-2 text-center">
                                <div class="dropdown menu-btn">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a class="dropdown-item" (click)="GoToFund(list,'1')">View Fund</a></li>
                                        <li><a class="dropdown-item">Redeem Fund</a></li>
                                        <li><a class="dropdown-item">Switch Fund</a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <pagination-controls id='MyHoldingsPageIndex' previousLabel="" nextLabel=""
                                    [autoHide]="true" (pageChange)="MyHoldingsPageIndex = $event">
                                </pagination-controls>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="myinsure" role="tabpanel" aria-labelledby="insure-tab">
                        <div class="row table-row"
                            *ngFor="let list of PendingOrder | paginate: { id: 'PendingOrderPageIndex', itemsPerPage: 5, currentPage: PendingOrderPageIndex }"
                            (click)="GoToFund(list,'0')">
                            <div class="col-lg-7 col-12 pe-2">
                                <div class="table-flex">
                                    <div class="bank-logo">
                                        <img src="assets/img/hdfc_ergo.png" />
                                    </div>
                                    <div class="my-bank">
                                        <h5>{{list?.instrumentName}}</h5>
                                        <p>
                                            <span>3 <i class="fa fa-star"></i></span>
                                            <span> High Risk</span>
                                            <span> {{list?.assetName}}</span>
                                        </p>
                                        <p>Placed on {{list?.orderDate | date}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-6 mb-bg-l1 ps-2 pe-2">
                                <div class="invests">
                                    <h5>Units Bought</h5>
                                    <p>55</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-6 mb-bg-l1 ps-2 pe-2">
                                <div class="premium">
                                    <h5>Purchase Amount</h5>
                                    <p>₹ {{list?.totalAmount}}</p>
                                </div>
                            </div>
                            <!-- <div class="col-lg-1 ins-pre col-6 ps-2 pe-2 text-center">
                                <div class="dropdown menu-btn">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a class="dropdown-item" (click)="GoToFund(list,'0')">View Fund</a></li>
                                        <li><a class="dropdown-item" href="">Redeem Fund</a></li>
                                        <li><a class="dropdown-item" href="">Switch Fund</a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <pagination-controls id='PendingOrderPageIndex' previousLabel="" nextLabel=""
                                    [autoHide]="true" (pageChange)="PendingOrderPageIndex = $event">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pie-chart-div">
                <div class="col-lg-6">
                    <div class="bg-white">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" [ngClass]="EquityExposureType == 'Sector' ? 'active' : ''"
                                    (click)="EquityExposureType = 'Sector'; GetChartOfEquitySector()"
                                    data-bs-toggle="tab" href="#eqt1">Equity Sector Exposure</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [ngClass]="EquityExposureType == 'Secuirty' ? 'active' : ''"
                                    (click)="EquityExposureType = 'Secuirty';GetChartOfEquitySecuirty()"
                                    data-bs-toggle="tab" href="#eqt2">Equity Security Exposure</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container" [ngClass]="EquityExposureType == 'Sector' ? 'active' : ''"
                                id="eqt1">
                                <div class="mt-3">
                                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                                        [plotOptions]="chartOptions1.plotOptions" [labels]="chartOptions1.labels"
                                        [stroke]="chartOptions1.stroke" [fill]="chartOptions1.fill"
                                        [legend]="chartOptions1.legend">
                                    </apx-chart>
                                </div>
                                <div class="row mt-10">
                                    <div class="d-flex"
                                        *ngFor="let list of EquitySector | paginate: { id: 'EquitySectorPageIndex', itemsPerPage: 5, currentPage: EquitySectorPageIndex }">
                                        <div class="col-lg-7 col-7">
                                            <p>
                                                <!-- <i class="fa fa-circle c1" aria-hidden="true"></i> -->
                                                {{list?.name}}
                                            </p>
                                        </div>
                                        <div class="col-lg-5 col-5 text-end">
                                            <p>{{list?.weight}}%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <pagination-controls id='EquitySectorPageIndex' previousLabel="" nextLabel=""
                                            [autoHide]="true" (pageChange)="EquitySectorPageIndex = $event">
                                        </pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container" [ngClass]="EquityExposureType == 'Secuirty' ? 'active' : ''"
                                id="eqt2">
                                <div class="mt-3">
                                    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                                        [plotOptions]="chartOptions2.plotOptions" [labels]="chartOptions2.labels"
                                        [stroke]="chartOptions2.stroke" [fill]="chartOptions2.fill"
                                        [legend]="chartOptions2.legend">
                                    </apx-chart>
                                </div>
                                <div class="row mt-10">
                                    <div class="d-flex"
                                        *ngFor="let list of EquitySecuirty | paginate: { id: 'EquitySecuirtyPageIndex', itemsPerPage: 5, currentPage: EquitySecuirtyPageIndex }">
                                        <div class="col-lg-7 col-7">
                                            <p>
                                                <!-- <i class="fa fa-circle c1" aria-hidden="true"></i> -->
                                                {{list?.name}}
                                            </p>
                                        </div>
                                        <div class="col-lg-5 col-5 text-end">
                                            <p>{{list?.weight}}%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <pagination-controls id='EquitySecuirtyPageIndex' previousLabel="" nextLabel=""
                                            [autoHide]="true" (pageChange)="EquitySecuirtyPageIndex = $event">
                                        </pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-white">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" [ngClass]="DebtExposureType == 'Sector' ? 'active' : ''"
                                    (click)="DebtExposureType = 'Sector'; GetChartOfDebtSector()" data-bs-toggle="tab"
                                    href="#debt1">Debt Rating Exposure</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [ngClass]="DebtExposureType == 'Secuirty' ? 'active' : ''"
                                    (click)="DebtExposureType = 'Secuirty'; GetChartOfDebtSecuirty()"
                                    data-bs-toggle="tab" href="#debt2" (click)="GetChartOfDebtSecuirty()">Debt Security
                                    Exposure</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane container" [ngClass]="DebtExposureType == 'Sector' ? 'active' : ''"
                                id="debt1">
                                <div class="mt-3">
                                    <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart"
                                        [plotOptions]="chartOptions3.plotOptions" [labels]="chartOptions3.labels"
                                        [stroke]="chartOptions3.stroke" [fill]="chartOptions3.fill"
                                        [legend]="chartOptions3.legend">
                                    </apx-chart>
                                </div>
                                <div class="row mt-10">
                                    <div class="d-flex"
                                        *ngFor="let list of DebtRating | paginate: { id: 'DebtRatingPageIndex', itemsPerPage: 5, currentPage: DebtRatingPageIndex }">
                                        <div class="col-lg-7 col-7">
                                            <p>
                                                <!-- <i class="fa fa-circle c1" aria-hidden="true"></i> -->
                                                {{list?.name}}
                                            </p>
                                        </div>
                                        <div class="col-lg-5 col-5 text-end">
                                            <p>{{list?.weight}}%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <pagination-controls id='DebtRatingPageIndex' previousLabel="" nextLabel=""
                                            [autoHide]="true" (pageChange)="DebtRatingPageIndex = $event">
                                        </pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container" [ngClass]="DebtExposureType == 'Secuirty' ? 'active' : ''"
                                id="debt2">
                                <div class="mt-3">
                                    <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart"
                                        [plotOptions]="chartOptions4.plotOptions" [labels]="chartOptions4.labels"
                                        [stroke]="chartOptions4.stroke" [fill]="chartOptions4.fill"
                                        [legend]="chartOptions4.legend">
                                    </apx-chart>
                                </div>
                                <div class="row mt-10">
                                    <div class="d-flex"
                                        *ngFor="let list of DebtSecuirty | paginate: { id: 'DebtSecuirtyPageIndex', itemsPerPage: 5, currentPage: DebtSecuirtyPageIndex }">
                                        <div class="col-lg-7 col-7">
                                            <p>
                                                <!-- <i class="fa fa-circle c1" aria-hidden="true"></i> -->
                                                {{list?.name}}
                                            </p>
                                        </div>
                                        <div class="col-lg-5 col-5 text-end">
                                            <p>{{list?.weight}}%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <pagination-controls id='DebtSecuirtyPageIndex' previousLabel="" nextLabel=""
                                            [autoHide]="true" (pageChange)="DebtSecuirtyPageIndex = $event">
                                        </pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 aa-div d-block d-lg-none d-md-none d-sm-none">
                <h5>Asset Allocation</h5>
                <img src="assets/img/honeycomb.svg" class="img-fluid">
            </div>
            <div class="row rene-mat-div">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Renewal & Maturities</th>
                            </tr>
                            <tr>
                                <th colspan="3">Asset Details</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">ICICI Prudential Technology<br><b>Maturity Amount:</b><span> Rs.
                                        75,84,500</span></td>
                                <td>07/04/1927</td>
                            </tr>
                            <tr>
                                <td colspan="3">Shriram Transport Finance<br><b>Maturity Amount:</b><span> Rs.
                                        46,75,150</span></td>
                                <td>07/04/1927</td>
                            </tr>
                            <tr>
                                <td colspan="3">The South Indian Bank Limited<br><b>Maturity Amount:</b><span> Rs.
                                        46,75,150</span></td>
                                <td>08/08/1921</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>