<div class="container mb10per">
	<div class="row mt-4">
		<div class="col-lg-12">
			<h4 class="breadcrumb-title"><span [routerLink]="['/dashboard']"><i class="fa fa-arrow-left i-icon"></i></span>Account Details</h4>
		</div>
	</div>
    <div class="row mt-2">
        <div class="col-lg-3 col-md-4 hidden-xs" id="sidebar-main">
            <app-account-desktop-menu></app-account-desktop-menu>
        </div>
        <div class="col-lg-9 col-md-8 tab-detail">
            <div class="row align-items-center port-row">
                <div class="col-12 ">
                    <h4 class="breadcrumb-title">KYC Verification</h4>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 kyc-ver" *ngIf="!ApplicantData.kycVerified">
                    <img src="assets/img/notverifed.svg" class="w-100"/>
                </div>
                <div class="col-lg-6 kyc-ver" *ngIf="ApplicantData.kycVerified">
                    <img src="assets/img/kyc_verified.svg" class="w-100"/>
                </div>
                <!-- notverifed -->
                <div class="col-lg-6">
                    <div class="col-12" *ngIf="!ApplicantData.kycVerified">
                        <h4 class="breadcrumb-title1">KYC Verification</h4>
                        <p>Your KYC is not verified, please verify KYC for making investments.</p>
                        
                        <div class="btn-div">
                            <button type="button" class="btn btn-primary loan-btn me-2" (click)="CreateSignZyOnboardInvestor()"> Start KYC </button>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="ApplicantData.kycVerified">
                        <h4 class="breadcrumb-title1">KYC Verification</h4>
                        <p>Your KYC is verified for making investments.</p>
                        <div class="form-check mb-4">
                            <input type="checkbox" id="check1" name="option1" value="something" checked="" class="form-check-input">
                            <label for="check1" class="form-check-label">I hereby declare that my KYC details is upto date</label>
                        </div>
                        <div class="btn-div">
                            <button type="button" class="btn btn-primary dashboard-btn me-2" (click)="CreateSignZyOnboardInvestor()"> Update KYC </button>
                            <button type="button" class="btn btn-primary loan-btn"  [routerLink]="['/wealth-dashboard']"> Start Investing </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>