<div class="container mb10per">
  <div class="row mt-4">
    <div class="col-lg-12">
      <h4 class="breadcrumb-title"><span><i class="fa fa-arrow-left i-icon"></i></span>Account Details</h4>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-3 col-md-4 hidden-xs" id="sidebar-main">
      <app-account-desktop-menu></app-account-desktop-menu>
    </div>
    <div class="col-lg-9 col-md-8 tab-detail">     
      <div class="row align-items-center port-row">
        <div class="col-12 ">
          <h4 class="breadcrumb-title">Risk Profiling</h4>
        </div>
      </div>
      <div *ngIf="!RiskProfileAlreadyTaken">
        <div class="row align-items-center mt-5">
          <div class="col-lg-5 risk-pro">
            <img src="assets/img/risk_profile_illustration.svg" class="w-100" />
          </div>
          <div class="col-lg-7">
            <div class="col-12 ">
              <h4 class="breadcrumb-title1">Tell us about yourself</h4>
              <p class="color-222">Update your Risk Profile for personally curated offers and investments just for you.</p>              
              <div class="btn-div">
                <button type="button" class="btn btn-primary loan-btn"
                  (click)="GotoWealth('risk-profiling')">Update Risk Profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="RiskProfileAlreadyTaken">
        <div class="row align-items-center mt-5">
          <div class="col-lg-5 risk-pro">
            <img src="assets/img/risk_illustration.svg" class="w-100" />
          </div>
          <div class="col-lg-7">
            <div class="col-12 ">
              <h4 class="breadcrumb-title1">Moderately Conservative</h4>
              <p class="color-222">You prefer capital preservation above market linked returns. You can accept
                investments
                with lower returns and low returns to minimize losses.</p>
              <div class="risk-note">
                <p><b>Note : </b> Your risk profile is valid for 2 years.</p>
              </div>

              <div class="btn-div">
                <button type="button" class="btn btn-primary dashboard-btn me-2"
                  (click)="GotoWealth('risk-profiling')">Re-take Test </button>
                <button type="button" class="btn btn-primary loan-btn"
                  (click)="GotoWealth('wealth-product-listing')">Start Investing </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
