<div class="container">
    <div class="row align-items-center pt-30">
        <div class="col-lg-6 col-md-6">
            <img [hidden]="!Steps[0]" src="assets/img/tools/1-step.png" class="step-1" alt="step-1"/>
            <img [hidden]="!Steps[1]" src="assets/img/tools/2-step.png" class="step-2" alt="step-2"/>
            <img [hidden]="!Steps[2]" src="assets/img/tools/3-step.png" class="step-3" alt="step-3"/>
            <img [hidden]="!Steps[3]" src="assets/img/tools/4-step.png" class="step-4" alt="step-4"/>
            <img [hidden]="!Steps[4]" src="assets/img/tools/5-step.png" class="step-5" alt="step-5"/>
            <img [hidden]="!Steps[5]" src="assets/img/tools/6-step.png" class="step-6" alt="step-6"/>
            <img [hidden]="!Steps[6]" src="assets/img/tools/6-step.png" class="step-6" alt="step-6"/>
            <img [hidden]="!Steps[7]" src="assets/img/tools/7-step.png" class="step-7" alt="step-7"/>

            <p class="pr-head">Your Progress</p>
            <h5 class="percent-tag">{{SetWidth[StepCount]}}% Completed</h5>
            <div class="custom-progress">
                <div class="custom-progress-bar" [style.width.%]="SetWidth[StepCount]"></div>
            </div>
            <p class="pr-time">It take hardly 1 minute to complete</p>
        </div>
        <div class="col-lg-6 col-md-6">
            <h3 class="main-title">Plan your investments for <span *ngIf="InvestmentType=='car' || InvestmentType=='house'">a </span> <b class="text-capitalize">{{InvestmentType}}</b></h3>


            <div class="process-div">
                    <div [@fadeinout]="Steps[0]==true?'visible':'hide'">
                        <div class="step-one ">
                            <h5 class="step-heading">Investment mode</h5>
                              <div class="row">
                                  <div class="col-4">
                                      <div class="mode" [ngClass]="investmentMode==1?'mode-selected':''" (click)="investmentMode=1">
                                          <p>Monthly</p>
                                      </div>
                                  </div>
                                  <div class="col-4">
                                    <div class="mode" [ngClass]="investmentMode==2?'mode-selected':''" (click)="investmentMode=2">
                                        <p>Quarterly</p>
                                    </div>
                                  </div>
                                  <div class="col-4">
                                      <div class="mode" [ngClass]="investmentMode==3?'mode-selected':''" (click)="investmentMode=3">
                                          <p>Lumpsum</p>
                                      </div>
                                  </div>
                              </div>
                        </div>
                    </div>

                <div [@fadeinout]="Steps[1]==true?'visible':'hide'">
                    <div class="step-four">
                        <div class="row">
                            <h5 class="step-heading">Target amount</h5>
                            <div class="custom-slider">
                                <input type="text" class="form-control" [(ngModel)]="value22"/>
                               <ngx-slider [(value)]="value22" [options]="options22"></ngx-slider>
                            </div>
                         </div>
                    </div>

                </div>

                <div  [@fadeinout]="Steps[2]==true?'visible':'hide'">
                    <div class="step-three ">
                        <div class="row">
                            <h5 class="step-heading">Goal target date</h5>
                            <div class="pos-rel">
                                <input type="date" [(ngModel)]="targetDate" name="targeted-date" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div  [@fadeinout]="Steps[3]==true?'visible':'hide'">
                    <div class="step-two ">
                        <div class="row">
                            <h5 class="step-heading">Amount already set aside for the goal</h5>
                            <div class="custom-slider">
                                <input type="text" class="form-control" [(ngModel)]="value21" />
                               <ngx-slider [(value)]="value21" [options]="options21"></ngx-slider>
                            </div>
                         </div>
                    </div>
                </div>

                <div  [@fadeinout]="Steps[4]==true?'visible':'hide'">
                    <div class="step-five ">
                        <div class="row">
                            <h5 class="step-heading">Expected rate of return</h5>
                            <div class="custom-slider">
                                <input type="text" class="form-control" [(ngModel)]="value23" (change)="sliderValue23=value23" (keypress)="validation.DesimalOnly($event,''+value23)"/>
                               <ngx-slider [(value)]="sliderValue23" [options]="options23" (mouseup)="value23=sliderValue23"></ngx-slider>
                            </div>
                         </div>
                    </div>
                </div>
                <div  [@fadeinout]="Steps[5]==true?'visible':'hide'">
                    <div class="step-six ">
                        <div class="row">
                            <h5 class="step-heading">Rate of inflation</h5>
                            <div class="custom-slider">
                                <input type="text" class="form-control"  [(ngModel)]="value24" (change)="value26=value24" (keypress)="validation.DesimalOnly($event,''+value24)"/>
                               <ngx-slider [(value)]="value26" [options]="options24" (mouseup)="value24=value26"></ngx-slider>
                            </div>
                         </div>
                    </div>
                </div>
                <div  [@fadeinout]="Steps[6]==true?'visible':'hide'">
                    <div class="step-seven">
                        <div class="row m-0">
                            <div class="mt-5 p-0">
                                <div class="form-floating mb-4 input-box">
                                    <input type="text" class="form-control" [(ngModel)]="fullName" id="full_name" placeholder="Your Name">
                                    <label for="full_name">Full Name</label>
                                </div>
                                <div class="form-floating mb-4 input-box">
                                    <input (keypress)="this.validation.numberOnly($event)" type="text" maxlength="10" class="form-control" [(ngModel)]="mobileNumber" id="mobile_number" placeholder="Your Mobile Number">
                                    <label for="mobile_number">Mobile Number</label>
                                </div>
                                <div class="form-floating mb-4 input-box">
                                    <input type="email" class="form-control" [(ngModel)]="email" id="email_id" placeholder="name@example.com">
                                    <label for="email_id">Email address</label>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>


                <div  [@fadeinout]="Steps[7]==true?'visible':'hide'">
                    <div class="step-eight ">
                        <div class="row m-0">
                            <div class="invest-amount">
                                <h5>Investment Amount </h5>
                                <h3>₹ {{validation.amountWithLakhComma(ResponseData.monthly)}}</h3>
                                <h4>Considering inflation you will need <span>₹ {{validation.amountWithLakhComma(ResponseData.expectedCorpus)}}</span>
                                    to meet your goal</h4>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row pr-btn">
                <button type="button" class="btn btn-primary transparent-button " (click)="PreviousStep()"><span class="me-2"><img src="assets/img/tools/reset.svg"></span> Back </button>
                <button type="button" class="btn btn-primary theme-button " *ngIf="ShowNxtBtn && StepCount<6" (click)="NextStep()">Next <span class="ms-2"><img src="assets/img/tools/next.svg"></span></button>
                <button type="button" class="btn btn-primary theme-button " (click)="NextStep()" *ngIf="!submitbtnLoading && StepCount==6">Next <span class="ms-2"><img src="assets/img/tools/next.svg"></span></button>
                <button type="button" class="btn btn-primary theme-button " *ngIf="submitbtnLoading && StepCount==6" style="font-size: 10px!important;"><i class="fa fa-spin fa-spinner" style="margin-right: 5px;"></i> Please Wait...</button>
                <button type="button" [routerLink]="['/']" class="btn btn-primary theme-button ft-content" *ngIf="!ShowNxtBtn">Select another goal <span class="ms-2"><img src="assets/img/tools/next.svg"></span></button>
            </div>

        </div>
    </div>
</div>


<!-- otp Modal -->
<div class="modal fade" id="otp-screen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
            <div class="row">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h3 class="otp-title">Enter OTP</h3>
                <p class="otp-text">OTP sent on <b>{{email}}. </b> <span class="link-text" data-bs-dismiss="modal">Change?</span></p>
            <div class="col-2">
                <input type="text" id="otp1" inputmode="numeric" [(ngModel)]="otp1" (keyup)="changeOtpFocus(1,$event)" (keypress)="validation.numberOnly($event)" class="form-control otp-field" maxlength="1"/>
            </div>
            <div class="col-2">
                <input type="text" id="otp2" inputmode="numeric" [(ngModel)]="otp2" (keyup)="changeOtpFocus(2,$event)" (keypress)="validation.numberOnly($event)" class="form-control otp-field" maxlength="1"/>
            </div>
            <div class="col-2">
                <input type="text" id="otp3" inputmode="numeric" [(ngModel)]="otp3" (keyup)="changeOtpFocus(3,$event)" (keypress)="validation.numberOnly($event)" class="form-control otp-field" maxlength="1"/>
            </div>
            <div class="col-2">
                <input type="text" id="otp4" inputmode="numeric" [(ngModel)]="otp4" (keyup)="changeOtpFocus(4,$event)" (keypress)="validation.numberOnly($event)" class="form-control otp-field" maxlength="1"/>
            </div>
            <div class="col-2">
                <input type="text" id="otp5" inputmode="numeric" [(ngModel)]="otp5" (keyup)="changeOtpFocus(5,$event)" (keypress)="validation.numberOnly($event)" class="form-control otp-field" maxlength="1"/>
            </div>
            <div class="col-2">
                <input type="text" id="otp6" inputmode="numeric" [(ngModel)]="otp6" (keyup)="changeOtpFocus(6,$event)" (keypress)="validation.numberOnly($event)" class="form-control otp-field" maxlength="1"/>
            </div>
            <div class="col-5">
                <p *ngIf="showOtpinterval" class="otp-bottomtext">OTP expires in <br class="hidden-lg"/>{{OtpResendTime}}</p>
            </div>
            <div class="col-7 text-end">
                <p *ngIf="!showOtpinterval && time==0" class="otp-bottomtext">Didn't recieve OTP? <br class="hidden-lg" /> <span class="link-text" (click)="Submit()">Resend OTP</span></p>
            </div>
            </div>
          <div class="row pr-btn">
            <button type="button" class="btn btn-primary transparent-button " data-bs-dismiss="modal"><span class="me-2"><img src="assets/img/tools/reset.svg"></span> Cancel </button>
            <button type="button" *ngIf="!submitotpbtnLoading" class="btn btn-primary theme-button " (click)="verifyOtp()">Submit <span class="ms-2"><img src="assets/img/tools/next.svg"></span></button>
            <button type="button" *ngIf="submitotpbtnLoading" class="btn btn-primary theme-button " style="font-size: 10px;"><i class="fa fa-spin fa-spinner" style="margin-right: 5px;"></i> Please Wait...</button>
         </div>
        </div>

      </div>
    </div>
  </div>
