/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: fontregular;
    src: url(../../../../assets/fonts/Circular_std_regular.ttf);
}
@font-face {
    font-family: fontmedium;
    src: url(../../../../assets/fonts/Circular_Std_Medium.ttf);
}
@font-face {
    font-family: fontbold;
    src: url(../../../../assets/fonts/Circular_Std_Bold.ttf);
}
  
html, body {
    font-family: fontregular !important;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F7F7 100%);
  }
.pos-rel{
    position: relative;
}
.transparent-button{
background: transparent;
border: 1px solid #00A0AD;
border-radius: 8px;
text-transform: uppercase;
font-size: 16px;
font-weight: 500;
color: #00A0AD;
font-family: fontregular !important;
}

.transparent-button:hover , .transparent-button:focus {
    color: #00A0AD;
    background-color: transparent;
    border-color: #00A0AD;
}

.theme-button{
    background-color: #E27E28;
    border-color: #E27E28;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 16px;
   font-weight: 500;
   font-family: fontregular !important;
   color: #fff;
}
.theme-button:hover , .theme-button:focus {
    color: #fff;
    background-color: #E27E28;
    border-color: #E27E28;

}
.custom-slider .ngx-slider .ngx-slider-pointer {
    /* background-color: #e27e28 !important; */
    background: #F9F9F9 !important;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), inset 4px -4px 8px -2px rgb(0 0 0 / 25%) !important;
    width: 25px !important;
    height: 25px !important;
    top: -11px !important;
}

.ngx-slider .ngx-slider-bubble{
    bottom: -40px !important;
}
.ngx-slider {
      margin: 25px 0 15px !important;
    }
.ngx-slider .ngx-slider-bar {      
        height: 6px !important;
        background: #afafaf !important;
        border-radius: 50px !important;
        box-shadow: inset -12px -12px 12px rgb(255 255 255 / 90%), inset 12px 12px 24px rgb(0 0 0 / 15%)
 }
 .ngx-slider .ngx-slider-pointer:after {
    width: 16px !important;
    height: 16px !important;
    top: 5px !important;
    left: 5px !important;
    border-radius: 20px !important;
    background: #e27e28 !important;
}
.ngx-slider .ngx-slider-selection {
    z-index: 4!important;
    background: #e27e28!important;
    border-radius: 2px!important;
    visibility: visible!important;
    box-shadow: none!important;
}
:focus-visible{
    outline: 0 !important;
}
.modal-backdrop.show {
    opacity: 1;
}
.modal-backdrop {
    backdrop-filter: blur(20px);
    background-color: rgb(0 0 0 / 50%);
}

.hidden-lg{
    display: none;
}
.form-control:focus { 
    border-color: #e27e28;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #e27e2826;
}
@media only screen and (max-width: 767px){
    .hidden-xs{
        display: none;
    }
    .hidden-lg{
        display: block!important;
    }
}
.calculate-btn .transparent-button{
    border: 1px solid #e27e28;  
    color: #e27e28;
}


.pt-30{
    padding-top: 30px;
}
.step-1,.step-2,.step-3,.step-4,.step-5,.step-6,.step-7{
    width: 75%;
}
.pr-head{
    font-size: 16px;
    margin-bottom: 0px;
}
.percent-tag{
    color: #00A0AD;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 30px;
}
.pr-time{
    color: #b4b4b4;
    font-size: 16px;
    margin-bottom: 0px;
}
.custom-progress{
    height: 10px;
    position: relative;
    background: #b4b4b4;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 10px;
}
.custom-progress-bar{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 10px;
    border-radius: 50px;
    background: #00A0AD;
    transition: all 3s ease;
}
.main-title{
font-size: 30px;
line-height: 30px;
margin-bottom: 20px;
}
.process-div{
    height: 18rem;
}
.step-heading{
    font-weight: 500;
font-size: 28px;
line-height: 28px;
margin-bottom: 20px;
margin-top: 5rem;
color: #555555;
}
.mode{
    background: #FCFCFC;
    border: 1px solid #858585;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.mode-selected{
    background: #00a0ad54;
}
.mode p{
    font-size: 16px;
    color: #858585;
    margin-bottom: 0px;
}
.pr-btn .transparent-button{
    color: #E27E28;
    border-color: #E27E28;
    text-transform: uppercase;
    border-radius: 8px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.pr-btn .theme-button{
border-radius: 8px;
color: #fff;
text-transform: uppercase;
width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;

}
.pr-btn{
    justify-content: space-between;
    margin: 0;
}
.step-one .step-heading ,.step-two .step-heading , .step-four .step-heading , .step-five .step-heading , .step-six .step-heading{
    margin-top: 4rem;
}
.custom-slider input{
    width: 150px;
}
.step-three input{
    width: 100%;
}
.invest-amount{
    background: linear-gradient(156.65deg, #ECECEC 1.2%, #FFFFFF 98.95%);
border: 2px solid #F7F7F7;
box-shadow: 0px 0px 8px #0000001c;
/* box-shadow: -10px -10px 20px #FFFFFF, 8px 8px 24px rgba(210, 210, 210, 0.5); */
border-radius: 32px;
padding: 5% 10%;
margin-top: 7%;
margin-bottom: 3%;
}
.invest-amount h5{
    font-size: 16px;
line-height: 20px;
margin-bottom: 5px;
}
.invest-amount h3{
    font-size: 34px;
    line-height: 35px;
    color: #E27E28;
    margin-bottom: 10px;
    margin-top: 10px;
}
.invest-amount h4{
    font-size: 18px;
    line-height: 23px;    
    margin-bottom: 0px;
    color: #858585;
}
.invest-amount h4 span{
    color: #00A0AD;
}
/* .step-two, .step-three, .step-four, .step-five, .step-six, .step-seven{
    display: none;
} */
.pr-btn .ft-content{
    width: fit-content;
}
.pr-btn button img{
    margin-top: -4px;
}
.step-1, .step-2{
    transition: all 5s ease;
}

.form-floating>.form-control, .form-floating>.form-select {
    height: calc(3rem + 5px);
    line-height: 1.25;
    border: 1px solid #858585;
    border-radius: 8px;
}
.form-floating>label{
    padding: 0.75rem 0.75rem;
    color: #858585;
}
.input-box input{
    color: #00A0AD!important;
}

#otp-screen .modal-content{
    border-radius: 12px;
}
#otp-screen .btn-close{
    position: absolute;
    right: 3%;
    top: 3%;
}
#otp-screen .modal-body{
 padding: 1.5rem;
}
.otp-title{
    color: #555555;
    font-family: fontmedium;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
}
.otp-text{
    color: #858585;
    margin-bottom: 25px;
}
.link-text{
    color: #00A0AD;
    text-decoration: underline;
    cursor: pointer;
}
.otp-field{
    border: 1px solid #858585;
    border-radius: 8px;
    height: 50px;
    color: #00A0AD;
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
}
.otp-bottomtext{
    color: #858585;
    font-size: 14px;
    margin-bottom: 25px;
}
/* Chrome, Safari, Edge, Opera */
#otp-screen input::-webkit-outer-spin-button,
#otp-screen input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#otp-screen input[type=number] {
  -moz-appearance: textfield;
}
@media only screen and (max-width: 767px){
    .step-1,.step-2,.step-3,.step-4,.step-5,.step-6,.step-7 {
        width: 100%;
    }
    .main-title {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .main-title b{
       color: #00A0AD;
    }
    .step-heading{
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 20px;
        margin-top: 1.5rem;
        color: #555555;
    }
    .mode {
        padding: 8px 5px;
    }
    .mode p {
        font-size: 14px
    }
    .custom-slider input {
        width: 200px;
    }
    .pr-btn{        
        margin: 0;
        margin-top: 15%;
    }
    .pr-btn button img{
        margin-top: -4px;
    }
    .pr-btn .transparent-button {       
        width: 100px;
        font-size: 16px;
        height: 40px;
    }
    .pr-btn .theme-button {       
        width: 100px;
        font-size: 16px;
        height: 40px;
    }
    .pr-btn .ft-content {
        width: -moz-fit-content!important;
        width: fit-content!important;
    }
    .process-div{
        height: auto;
        margin-bottom: 30px;
    }
    .step-two .step-heading {
        margin-top: 1.5rem;
    }
    .step-four .step-heading {
        margin-top: 1.5rem;
    }
    .step-five .step-heading {
        margin-top: 1.5rem;
    }
    .step-six .step-heading {
        margin-top: 1.5rem;
    }
    .invest-amount h4 {
        font-size: 14px;
    }
    .invest-amount{
        padding: 5% 5%;
    }
}