.breadcrumb-title{
	color: #465A65;
	font-size: 30px;
	font-weight: 600;
	position: relative;
	padding-bottom: 15px;
}
.tab-detail .breadcrumb-title{
    margin-bottom: 0px;
    font-size: 24px;
}
.mb10per{
    margin-bottom: 10%;
}
.i-icon{
	color: #4c616b;
	font-size: 27px;
}
.input-value{
    font-size: 14px;
    color: #00A3B1;
    border-radius: 6px;
    border: 1px solid #00A3B1;
    padding: 3px 15px;
    position: absolute;
    right: 10px;
    top: 25%;
    background-color: #aae8ee;
}
.breadcrumb-title::after
{
	content: '';
	border-bottom: 3px solid #e27e28;
	width: 50px;
	position: absolute;
	left: 0;
	bottom: 5px;
}
.breadcrumb-sub {
	font-size: 18px;
	line-height: 30px;
	color: #222222;
}
.uploaded-pic{
    display: flex;
    justify-content: start;
    align-items: center;
}
.uploaded-pic img{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    margin-right: 10px;
}
.uploaded-pic p{
    margin-bottom: 0px;
    font-size: 14px;    
}
.port-row{
    margin-bottom: 10px;
}
.upload-btn{
	padding: 10px;
    color: #E27E28!important;
    font-weight: 500;
    background-color: transparent;
    border-color: #E27E28;
    border-radius: 12px;
    font-size: 16px!important;	
}

.form-floating>.form-control {
    border: 1px solid #D4DEE3;
    border-radius: 8px;
}
.form-floating>label{
    color: #858585;
}
.form-floating>.form-control:-webkit-autofill~label {
    opacity: 0.9;
}
.form-floating>.form-control, .form-floating>.form-select {
    height: calc(3rem + 5px);
    line-height: 1.25;
}
.country-drop{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    font-size: 14px;
    text-align: center;
    background-color: #D4DEE3;
    color: #465A65;
    font-weight: 600;
    height: 53px;
    border-radius: 8px 0px 0px 8px;
    border-right: 0px;
}
.mobile-input input{
    border-radius: 0px 8px 8px 0px!important;
}
.g-div{
    padding:3px;
    background-color: #fff;
    border-radius: 8px;
}
.m-div{
    border-radius: 8px;
    padding: 9px;
    border: 1px solid transparent;
    color: #858585;
    padding-right: 0px!important;
    text-align: center;
    background: #fff;
    border-right: 0px;
    cursor: pointer;
}
.f-div{
    border-radius: 8px;
    padding: 9px;
    border: 1px solid transparent;
    color: #858585;
    padding-left: 0px!important;
    padding-right: 0px!important;
    text-align: center;
    background: #fff;
    border-left: 0px;
    border-right: 0px;
    cursor: pointer;
}
.o-div{
    border-radius:8px;
    padding: 9px;
    border: 1px solid transparent;
    color: #858585;
    padding-right: 0px!important;
    text-align: center;
    background: #fff;
    border-left: 0px;
    cursor: pointer;
}
.activetxt{
    color: #00A3B1;    
    border: 1px solid #bde4e9;
    background: #bde4e9;
    font-weight: 600;
}
.form-check-label {
    font-size: 18px;
}
.form-check-label span{
    color: #00a3b1;
}
.form-scroll{
    max-height: 830px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.form-scroll::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.form-scroll {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.feature-apply{
	padding: 10px;
    color: #fff!important;
    font-weight: 500;
    background-color: #E27E28;
    width: 150px;
    border-color: #E27E28;
    border-radius: 12px;
    font-size: 16px!important;
}
.feature-cancel{
	padding: 10px;
    color: #F54B4B!important;
    font-weight: 500;
    background-color: transparent;
    width: 150px;
    border-color: transparent;
    border-radius: 12px;
    font-size: 16px!important;	
}

.btn-div{
	justify-content: space-between;
    width: 100%;
    display: flex;
	margin-top: 2%;
    border-top: 1px solid #cdcdcd;
    padding-top: 20px;
}
#update_changes h5{
    text-align: center;
    font-weight: 600;
    color: #465A65;
    margin-bottom: 15px;
    margin-top: 15px;
}
#update_changes p{
    color: #222222;
    text-align: center;
}

#update_changes .modal-content{
    border-radius: 12px;
}
      
#otp-screen .modal-content{
    border-radius: 12px;
  }
  #otp-screen .btn-close{
    position: absolute;
    right: 3%;
    top: 3%;
  }
  #otp-screen .modal-body{
  padding: 1.5rem;
  }
  #otp-screen .otp-title{
    color: #465A65;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  #otp-screen .otp-text{
    color: #222222;
    margin-bottom: 20px;
  }
  #otp-screen .link-text{
    color: #00A0AD;
    text-decoration: underline;
    cursor: pointer;
  }
  #otp-screen .otp-field{
    border: 1px solid #858585;
    border-radius: 8px;
    height: 60px;
    color: #00A0AD;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
  }
  #otp-screen .pr-btn{
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #b4b4b4;
    margin-top: 10px;
  }
  #otp-screen .otp-cancel{
    color: #F54B4B;
    font-weight: 600;
    font-size: 18px;
    background: transparent;
    border: 0;
  }
  #otp-screen .otp-bottomtext{
    color: #222222;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  @media (min-width: 576px){
  #otp-screen .modal-dialog {
    max-width: 400px;
  }
  #otp-screen .modal-body .col-2{
    padding-right: 0px;
  } 
  }
  /* Chrome, Safari, Edge, Opera */
  #otp-screen input::-webkit-outer-spin-button,
  #otp-screen input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }
  
  /* Firefox */
  #otp-screen input[type=number] {
  -moz-appearance: textfield;
  }
  
  @media only screen and (max-width:767px){
    #otp-screen .otp-text {
      font-size: 14px;
  }
  #otp-screen .col-2{
    padding-left: 5px;
    padding-right: 5px;
  }
  }

  @media only screen and (max-width: 991px) and (min-width: 768px) {
    .mb10per {
        margin-bottom: 0%;
    }
    .menulist-ul{
        height: 50vh;
    }
  }