<div class="Hospicash">

    <div class="image-with-text">
        <div class="text">
            <div> Weather</div>
            <!-- <div class="black">Finizon's InsureFit 360,<br> Your All-in-One Solution!</div> -->
        </div>
        <!-- <img src="../../../assets/img/web-banner-PNG.png" alt=""> -->
        <img style="width: 40%; margin-left: 38%; " src="../../../assets/img/weather_placeholder.png" alt="">

    </div>

    <div class="Hospicash_content1">
        <div class="HospiCashT">Weather – a preventive care plan</div>
        <p class="para"> It is no secret that health has become one of the most important aspects of our lives in this
            modern age. Owing to rising
            chronic lifestyle illnesses such as High Blood Pressure, Diabetes and Cholesterol, we firmly believe that
            preventive
            healthcare is the only viable and long-term solution. Everyone has a great deal of control over the state of
            their health
            through the lifestyle decisions they make and hence, buying
            <b>weather, a complete preventive care solution</b>
            would
            be the next step forward which besides getting you fit and healthy, will keep you insured as well.
        </p>

    </div>

    <div class="Hospicash_content2">
        <div class="HospiCashT">
            What is Covered under Finizon’s Weather?</div>
        <!-- <p class="para">Finizon’s <b> InsureFit 360 </b>is India’s first ‘outcome-based health and life insurance
            program’,
            powered by <b>Weather</b>, through which it offers <b>Personal Coaching + Smart Device (Weather) + Health & Life
                Insurance.</b></p> -->
        <p class="para">Finizon’s <b> Weather </b>is India’s first ‘outcome-based health insurance
            program’,
            powered by <b>Weather</b>, through which it offers <b>Personal Coaching + Smart Device (Weather) + Health.</b></p>
        <!-- <p class="para">

            It will allow you to monitor multiple health parameters, as well as track steps, sleep, calories
            burned & much more. By adopting healthy habits & behaviours on the Weather app, one get a Health Insurance
            cover for up to ₹5 lakhs (through S.A.F.E model) and Life Insurance cover of up to ₹1 lakh, in partnership
            with Kotak Mahindra General Insurance and Kotak Mahindra Life Insurance.
        </p> -->
        <p class="para">

            It will allow you to monitor multiple health parameters, as well as track steps, sleep, calories
            burned & much more. By adopting healthy habits & behaviours on the Weather app, one get a Health Insurance
            cover for up to ₹5 lakhs (through S.A.F.E model) with Care Health Insurance.
        </p>
        <!-- <p class="para">
            <b>How does it work? Play it SAFE</b>
            <br>
            The SAFE model (Sedentary, Active, Fit & Elite) consists of levels within the Weather Ecosystem. Every Weather
            player (user) that activates their plan starts their health journey on the lowest tier of the SAFE score
            i.e., Sedentary. At this level, player is eligible for a Health Insurance cover of ₹1 Lakh & a Life
            Insurance cover of ₹1 Lakh. By leading a healthy lifestyle and engaging on the Weather App, players can
            improve their SAFE score and progress to Active, Fit and Elite to increase the value of their health
            insurance cover up to ₹5 lakhs.
        </p> -->
        <p class="para">
            <b>How does it work? Play it SAFE</b>
            <br>
            The SAFE model (Sedentary, Active, Fit & Elite) consists of levels within the Weather Ecosystem. Every Weather
            player (user) that activates their plan starts their health journey on the lowest tier of the SAFE score
            i.e., Sedentary. At this level, player is eligible for a Health Insurance cover of ₹3 Lakh. By leading a
            healthy lifestyle and engaging on the Weather App, players can
            improve their SAFE score and progress to Active, Fit and Elite to increase the value of their health
            insurance cover up to ₹5 lakhs.
        </p>
        <p class="para">
            Refer to the below table to understand the tiers in the SAFE Score.
        </p>
        <div class="safesore">

            <!-- <img src="../../../assets/img/insure.png" alt=""> -->
            <img src="../../../assets/img/Insurance+Card.png" alt="">



        </div>
    </div>

    <div class="wrapper">
        <div class="product-details">
            <div class="HospiCashT_List">Product details</div>
            <ul class="list-style">
                <li>12 months subscription</li>
                <li>Monitor Blood Oxygen Saturation (SpO2)</li>
                <li>Measure ECG, Blood pressure & Heart Rate 24x7</li>
                <li>Track Body Temperature 24x7</li>
                <li>Auto Sleep Tracking</li>
                <li>Multiple Exercise Modes</li>
                <li>Steps counting</li>
                <li>Women Care</li>
                <!-- <li>Life Insurance of INR 1 Lakhs</li> -->
                <li>Health insurance upto INR 5 Lakhs*
                    <ul style="list-style: none;">
                        <li> In-Patient Treatment covered</li>
                        <li> 30-60 Days Pre-Post Hospitalization expenses period covered</li>
                        <li> Day Care Treatment Covered</li>
                        <li> Donor Expenses Covered</li>
                        <li> Emergency Ambulance Covered up to ₹2000/claim</li>
                        <li> Room Rent Capping -
                            <ul style="list-style: none;">
                                <div>For <b>Sedentary</b>& <b>Active</b>: Normal- ₹2,000/day | ICU- ₹4,000/day </div>
                                <div>For <b>Fit & Elite</b>: No capping for Normal & ICU rooms </div>
                                <div> If the room rent exceeds the limit prescribed, the medical
                                    expenses payable will be on pro-rata basis. This is not
                                    applicable for medicines/pharmacy, medical consumables and
                                    medical implants, which will be payable in actuals.</div>


                            </ul>
                        </li>
                        <li> Sub-Limits: Cataract – Per eye ₹20,000/-</li>
                        <li> Wait Period-

                            <ul class="custom-list custom-square">
                                <li>Initial waiting period - 30 Days</li>
                                <li>Specified disease/procedure waiting period – 12 months</li>
                                <li>Pre-existing disease waiting period – 24 months</li>
                            </ul>
                        </li>

                    </ul>
                </li>

            </ul>
            <div class="safepara">*As per Weather SAFE score</div>
        </div>

        <div class="policy-details">
            <div class="HospiCashT_List">Benefits</div>
            <div class="policy-point">
                <ul class="list-style ">
                    <li><b>Personal health coach</b>- a personal coach who will guide you to a healthier lifestyle</li>

                    <li><b>Certified health experts</b>- Health experts will give you health and nutrition advice based
                        on your
                        health goals</li>

                    <li><b>Tele-consultations with doctors</b> - Get medical consult from qualified doctor and book
                        diagnostic
                        tests via app</li>

                    <li><b>Interactive video coaching</b> - an interactive live-video platform where you can get inputs
                        from
                        fitness experts as they talk</li>
                    <li><b>Weather Cash Rewards</b>- A virtual rewards program -Weather Cash, earned for completing steps
                        taken
                        targets and other health goals can be redeemed at the Weather Health Store for discounts.</li>
                    <li><b>Challenges</b> – motivating & encouraging people to take up health related activities to
                        achieve
                        better health outcomes</li>
                    <li><b>Weather Health Store, and much more</b>- a holistic services marketplace offering a range of
                        health
                        related products and services </li>

                </ul>

            </div>
            <!-- <div class="SV2-A"><img src="../../../assets/img/SmartVital-2.png" alt=""></div> -->
            <div class="SV2-A"><img src="../../../assets/img/Insurance-+.png" alt=""></div>

        </div>
    </div>


    <div style="position: relative; bottom: 90px;">
        <div class="Hospicash_content2">
            <div class="HospiCashT">Options Available with
                <img class="optionimg" src="../../../assets/img/WeatherSquareLogo-style.png" alt="">

            </div>

            <!-- <div class="Weather"><b> Weather INSURE+</b> with Smart Vital 2.0 and 12 months
            personal coaching subscription for <b>INR 10,999</b> .</div>
        </div> -->

            <div class="Weather"><b> Weather </b> with Smart Vital 2.0 Max and 12 months
                personal coaching subscription for <b>INR 12,999</b>.</div>
        </div>

        <div class="apply-now">

            <!-- <form [formGroup]="referralForm">
                <div class="form-row">
                    <div class="form-column">
                        <label for="customer-name" class="cust_name">Customer Name *</label>
                        <app-input class="input" [placeholder]="'Enter your full name'" formFieldClass="w-90perc"
                            [errorMessage]="formErrors.cust_name" [control]="referralForm.get('custmor_name')"
                            appearance="outline" maxlength='30' (keyup)="onKeyup($event)"></app-input>
                    </div>
                    <div class="form-column">
                        <label for="customer-email" class="cust_name">Customer E-mail *</label>
                        <app-input class="input" [placeholder]="'Enter your email'" formFieldClass="w-90perc"
                            [errorMessage]="formErrors.cust_email" [control]="referralForm.get('custmor_email')"
                            appearance="outline"></app-input>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-column">
                        <label for="customer-mobile  custom-width" class="cust_mob">Customer Mobile No *</label>
                        <app-input class="input" [type]="'tel'" [placeholder]="'Enter your mobile no'"
                            formFieldClass="w-90perc" [errorMessage]="formErrors.phone_No"
                            [control]="referralForm.get('mobile')" appearance="outline" maxlength='10'></app-input>
                    </div>
                    <div class="form-column">
                        <label for="agent-code  custom-width" class="agent_code">Finizon Agent Code(Optional)</label>
                        <app-input class="input agentinput" [placeholder]="'Enter your agent code'"
                            formFieldClass="w-90perc" [errorMessage]="formErrors.agent_code"
                            [control]="referralForm.get('agentCode')" appearance="outline" minlength="12" maxlength='13'
                            (input)="disableSpecialCharacters($event)"></app-input>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-column">
                        <a href="https://aaptfin.com/?q={{agentCode}}">
                            <button type="submit" id="apply-btn" (click)="onSubmit()">Apply Now</button>
                        </a>
                    </div>
                </div>
            </form> -->


    
               <!-- ================================ -->
                <form [formGroup]="myForm">
                <div class="form-row">
                    <div class="form-column">
                        <label for="customer-name" class="cust_name">Customer Name *</label>
                       <input type="text" formControlName="Name" class="form-control" name="Name" placeholder="Enter Full Name"
                      class="form-control" (keyup)="onKeyup($event)">
                    </div>
                    <div class="form-column">
                        <label for="customer-email" class="cust_name">Customer E-mail</label>
                         <input type="text" formControlName="Email" class="form-control" name="Email" placeholder="Enter Email"
                      class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-column">
                        <label for="customer-mobile  custom-width" class="cust_mob">Customer Mobile No *</label>
                        <input type="text" formControlName="mobileNumber" class="form-control" name="mobileNumber"
                      placeholder="Enter Phone" class="form-control" maxlength='10' (input)="disableSpecialCharacters($event)">
                    </div>
                    <!-- <div class="form-column">
                        <label for="agent-code  custom-width" class="agent_code">Finizon Agent Code(Optional)</label>
                        <input type="text" formControlName="agentCode" class="input agentinput" placeholder="Enter your agent code"
                            formFieldClass="w-90perc" minlength="12" maxlength='13'>/>
                    </div> -->

                    <div class="form-column">
                        <label for="customer-mobile  custom-width" class="cust_mob">Finizon Agent Code *</label>
                        <input type="text" formControlName="agentCode" class="form-control" name="agentCode"
                      placeholder="Enter your agent code"  minlength="12" maxlength='13'>
                    </div>
                </div>

                <!-- ============= -->
                <div class="form-row">
                    <!-- <div class="form-column">
                        <label for="customer-mobile  custom-width" class="cust_mob">Customer Pan No *</label>
                        <input type="text" formControlName="mobileNumber" class="form-control" name="mobileNumber"
                            placeholder="Enter your Pan number" class="form-control" maxlength='10'
                            (input)="disableSpecialCharacters($event)">
                    </div> -->
                    <!-- <div class="form-column">
                        <label for="agent-code  custom-width" class="agent_code">Finizon Agent Code(Optional)</label>
                        <input type="text" formControlName="agentCode" class="input agentinput" placeholder="Enter your agent code"
                            formFieldClass="w-90perc" minlength="12" maxlength='13'>/>
                    </div> -->

                    <div class="form-column" >
                        <label for="customer-mobile  custom-width" class="cust_mob">Falca Unique Id *</label>
                        <input style="width: 49.5%;" type="text" formControlName="agentCode" class="form-control" name="agentCode"
                            placeholder="Enter your unique id" minlength="12" maxlength='13'>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-column">
                        <a href="https://aaptfin.com/?q={{agentCode}}">
                            <button type="submit" id="apply-btn" (click)="Submit()">Apply Now</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <!-- <div class="Apply_now_note">On clicking the button above, you will be redirected to a 3rd party website.</div> -->

    </div>
</div>